In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import json
path="C:/Users/frank/OneDrive/Desktop/data_extract"

In [8]:
jobs = pd.DataFrame()
with open("marketing_sample_for_indeed_usa_com-indeed_usa_com_job__20201001_20201231__30k_data.ldjson", 'r', encoding="utf8") as f:
    for i, line in enumerate(f):
        try:
            data = json.loads(line.strip('\n'))
            temp = pd.DataFrame([data], columns = data.keys())
            jobs = pd.concat([jobs, temp], axis = 0)
        except Exception as e:
            print(e)

Extra data: line 1 column 5459 (char 5458)

In [9]:
jobs = jobs.reset_index(drop = True)
print(jobs.shape)
jobs.to_csv('resources/Indeed_Jobs_2020.csv', index = False)

(29996, 48)

In [2]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

df=pd.read_csv("resources/Indeed_Jobs_2020.csv")

In [3]:
df=df[["job_title","category","company_name","city","state","country","post_date","job_type","is_remote","salary_offered"]]

In [4]:
cat=df["category"].unique()
cat

array(['Transportation-or-logistics', 'Healthcare', 'Retail',
       'Administrative', 'Sales', 'Computer-or-internet',
       'Human-Resources', 'Manufacturing-or-mechanical',
       'Banking-or-loans', 'Education-or-training',
       'Construction-or-facilities', 'Hospitality-or-travel',
       'Customer-Service', 'Accounting-or-finance',
       'Restaurant-or-food-Service', 'Non-profit/volunteering',
       'Arts-or-entertainment-or-publishing',
       'Upper-Management-or-consulting', 'Real-Estate',
       'Engineering-or-architecture', 'Law-Enforcement-or-security',
       'Insurance', 'Government-or-military',
       'Marketing-or-advertising-or-pr', 'Pharmaceutical/bio-tech',
       'Telecommunications', 'Legal'], dtype=object)

In [6]:
p1="resources/Bachelors_degree_CSV.csv"
p2="resources/Masters_degree_CSV.csv"
p3="resources/Doctrate_degree_CSV.csv"

df1=pd.read_csv(p1)
df2=pd.read_csv(p2)
df3=pd.read_csv(p3)

df3.drop([1,2,34,35,36,37,38],0,inplace=True);
df2.drop([1,2,36,37,38,39,40],0,inplace=True);
df1.drop([1,2,36,37,38,39,40],0,inplace=True);

df1=df1.rename(columns=df1.iloc[0]).drop(df1.index[0])
df2=df2.rename(columns=df2.iloc[0]).drop(df2.index[0])
df3=df3.rename(columns=df3.iloc[0]).drop(df3.index[0])

df1=df1.fillna(0)
df2=df2.fillna(0)
df3=df3.fillna(0)

df1 = df1.replace(',','', regex=True)
df2 = df2.replace(',','', regex=True)
df3 = df3.replace(',','', regex=True)

def change_dtype(value):
      try:
          return int(value)
      except ValueError:
          try:
              return float(value)
          except ValueError:
              return value

for column in df1.columns:
      df1.loc[:, column] = df1[column].apply(change_dtype)
for column in df2.columns:
     df2.loc[:, column] = df2[column].apply(change_dtype)
for column in df3.columns:
      df3.loc[:, column] = df3[column].apply(change_dtype)

In [26]:
Mdf=pd.concat([df1, df2,df3]).groupby(['Field of study']).sum().reset_index()
# Mdf = Mdf.set_index('Field of study').T
Mdf=Mdf.set_index('Field of study')

Mdf=Mdf.rename(index={"Business\\2\\":"Business","Agriculture and natural resources\\1\\":"Agriculture and natural resources","Engineering technologies\\3\\":"Engineering technologies"})

Mdf=Mdf.reset_index()

In [16]:
Mdf.reindex()

Mdf=Mdf.rename( index={'1970-71': 1971,'1975-76':1976,'1980-81':1981,'1985-86':1986,'1990-91':1991,'1975-76':1976,'1995-96':1996,'2000-01':2001,'2005-06':2006,'2009-10':2010,'2011-12':2012,'2012-13':2013,'2013-14':2014,'2014-15':2015,'2015-16':2016,'2016-17':2017,'2017-18':2018,"2018-19":2019,"2010-11":2011})

In [27]:
Mdf['sum']=Mdf.sum(axis=1)

In [28]:
Mdf=Mdf[["Field of study","sum"]]

In [29]:

Mdict={"Healthcare":"Health professions and related programs","Retail":"Business","Administrative":"Public administration and social services","Transportation-or-logistics":"Transportation and materials moving","Sales":"Business","Computer-or-internet":"Computer and information sciences","Human-Resources":"Public administration and social services","Manufacturing-or-mechanical":"Engineering","Banking-or-loans":"Business","Education-or-training":"Education","Construction-or-facilities":"Precision production","Hospitality-or-travel":"Business","Customer-Service":"Communication journalism and related programs ","Accounting-or-finance":"Business","Restaurant-or-food-Service":"Business","Non-profit/volunteering":"Public administration and social services","Arts-or-entertainment-or-publishing":"English language and literature/letters","Upper-Management-or-consulting":"Multi/interdisciplinary studies ","Real-Estate":"Family and consumer sciences/human sciences","Engineering-or-architecture":"Architecture and related services","Law-Enforcement-or-security":"Homeland security law enforcement and\n   firefighting","Insurance":"Business","Government-or-military":"Homeland security law enforcement and\n   firefighting ","Marketing-or-advertising-or-pr":"Business","Pharmaceutical/bio-tech":"Biological and biomedical sciences","Telecommunications":"Communications technologies","Legal":"Legal professions and studies"}
keys=Mdict.keys()
keys

dict_keys(['Healthcare', 'Retail', 'Administrative', 'Transportation-or-logistics', 'Sales', 'Computer-or-internet', 'Human-Resources', 'Manufacturing-or-mechanical', 'Banking-or-loans', 'Education-or-training', 'Construction-or-facilities', 'Hospitality-or-travel', 'Customer-Service', 'Accounting-or-finance', 'Restaurant-or-food-Service', 'Non-profit/volunteering', 'Arts-or-entertainment-or-publishing', 'Upper-Management-or-consulting', 'Real-Estate', 'Engineering-or-architecture', 'Law-Enforcement-or-security', 'Insurance', 'Government-or-military', 'Marketing-or-advertising-or-pr', 'Pharmaceutical/bio-tech', 'Telecommunications', 'Legal'])

In [30]:
Mdf.columns

Index(['Field of study', 'sum'], dtype='object')

In [31]:
df["Field of study"]=""

In [32]:
for key in keys:
    df.loc[df["category"]==key,"Field of study"]=Mdict[key]

In [33]:
Merged_df=pd.merge(Mdf,df,on="Field of study")

In [34]:
Merged_df

,Field of study,sum,job_title,category,company_name,city,state,country,post_date,job_type,is_remote,salary_offered
0,Architecture and related services,272090,Engineer I (Trans),Engineering-or-architecture,Entergy,Little Rock,AR,US,2020-12-16,Full-time,False,NaN
1,Architecture and related services,272090,Research Technician,Engineering-or-architecture,Lydall,Rochester,NH,US,2020-11-23,Full-time,False,NaN
2,Architecture and related services,272090,Minerals Processing Engineer,Engineering-or-architecture,Barr Engineering,Salt Lake City,UT,US,2020-11-06,Full-time,False,NaN
3,Architecture and related services,272090,Dimensional Engineer --8784-3,Engineering-or-architecture,Solize USA Corporation,Warren,MI,US,2020-11-06,Full-time,True,NaN
4,Architecture and related services,272090,Senior Project Manager- City of Charlotte,Engineering-or-architecture,South Carolina Chapter of the American Plannin...,(function(_){_.__JS_ERROR__=[];_.onerror=funct...,'+'pageId:'+e+',US,2020-12-08,Full-time,False,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
19582,Transportation and materials moving,80159,Receiving Clerk,Transportation-or-logistics,El Super Markets | El Super,(function(_){_.__JS_ERROR__=[];_.onerror=funct...,'+'pageId:'+e+',US,2020-12-05,Full-time,False,NaN
19583,Transportation and materials moving,80159,Routing/Logistics Coordinator,Transportation-or-logistics,"Mr. Brands, LLC.",Bristol,PA,US,2020-10-05,Full-time,False,Salary:
19584,Transportation and materials moving,80159,Starbucks Clerk,Transportation-or-logistics,Kroger Stores,Dallas,GA,US,2020-11-01,Part-time,False,NaN
19585,Transportation and materials moving,80159,"Manager, Operations - Transportation",Transportation-or-logistics,FedEx Supply Chain,Columbus,OH,US,2020-11-06,Full-time,False,NaN
19586,Transportation and materials moving,80159,Hotel Part time Houseman/Shuttle Van Driver,Transportation-or-logistics,Fairfield by Marriott,Manchester,NH,US,2020-10-05,Part-time,False,Pay: $10.00 - $11.00 per hour

In [35]:
Merged_df.to_csv('./Indeed_Jobs_with_major_2020.csv', index = False)