In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import plotly.express as px

In [2]:
#Reading the Indeed job listings file 
df = pd.read_csv('../Resources/mw_job_listings_scraped.csv')

In [3]:
df

,Job Title,Company Name,Location,Salary,Description,link,Category,Skills,Tools
0,Senior Business Analyst - Land,Berks Homes,"Mohnton, PA 19540",NaN,Senior Business Analyst - Land Berks Homes is ...,https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,Data Analyst,,"R, Scala"
1,ISS-P Data Center Analyst,Consolidated Nuclear Security,"Amarillo, TX",NaN,"Location: Amarillo, TX\nJob Title: ISS-P Data ...",https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,Data Analyst,,R
2,Junior Data Analyst,Strategic Marketing Services,"Louisville, KY 40223","$32,000 - $39,500 a year",Basic Function: Develop and process targeted m...,https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,Data Analyst,Data Analysis,"SQL, R, Excel"
3,Data Analyst (Louisiana),Tetra Tech Inc.,"Laplace, LA",NaN,Tetra Tech is a leading provider of consulting...,https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,Data Analyst,Data Analysis,"R, Excel"
4,Marketing Data Analyst,Mercedes Scientific,"Sarasota, FL 34211","$85,000 a year",Mercedes Scientific is a national leader in th...,https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,Data Analyst,,R
...,...,...,...,...,...,...,...,...,...
15708,BI Developer (Power BI),USI Holdings Corporation,Remote,NaN,NaN,https://www.indeed.com/rc/clk?jk=5f84ee36c0d11...,Business Intelligence Developer,,
15709,Senior Business Intelligence Developer,BlueVine,"Redwood City, CA 94063 (Downtown area)",NaN,NaN,https://www.indeed.com/rc/clk?jk=45fd10af4b144...,Business Intelligence Developer,,
15710,SENIOR BUSINESS INTELLIGENCE DEVELOPER,XSOLIS,Remote,NaN,NaN,https://www.indeed.com/rc/clk?jk=43c084fafe1f1...,Business Intelligence Developer,,
15711,Sr. Business Intelligence Developer,Ensemble Health Partners,"Cincinnati, OH",NaN,NaN,https://www.indeed.com/rc/clk?jk=57ef8b0e02a25...,Business Intelligence Developer,,
15712,Business Intelligence Developer,Bain Capital,"Boston, MA 02116 (Back Bay area)",NaN,NaN,https://www.indeed.com/rc/clk?jk=b28b1b26c802c...,Business Intelligence Developer,,

In [4]:
#Cleaning steps for salary column
df = df.drop('link', axis=1)
df['Salary'] = df['Salary'].str.replace('a','')
df['Salary'] = df['Salary'].str.replace('yer','')
df['Salary'] = df['Salary'].str.replace('n','')
df['Salary'] = df['Salary'].str.replace(' , ','')
df['Salary'] = df['Salary'].str.replace('From','')
df['Salary'] = df['Salary'].str.replace('moth','')
df['Salary'] = df['Salary'].str.replace("'", "")
df['Salary'] = df['Salary'].str.replace('Up to','')
df['Salary'] = df['Salary'].str.replace('  ','')
df['Salary'] = df['Salary'].str.replace("''",'')
df['Salary'] = df['Salary'].str.replace("$",'')
df['Salary'] = df['Salary'].str.replace('hour','')
df['Salary'] = df['Salary'].str.strip()
df['Salary'] = df['Salary'].str.replace('week','')
df['Salary'] = df['Salary'].str.replace('dy','')
df['Salary'] = df['Salary'].str.rstrip() 
df['Salary'] = df['Salary'].str.strip()
df_salary= df.join(df['Salary'].str.split('-', 1, expand=True).rename(columns={0:'Min-Salary-Range', 1:'Max-Salary-Range'}))
df_salary["Min-Salary-Range"] =df_salary["Min-Salary-Range"].str.strip()
df_salary["Max-Salary-Range"]=df_salary["Max-Salary-Range"].str.strip()
df_salary['Min-Salary-Range'] = df_salary['Min-Salary-Range'].str.replace(',','')
df_salary['Max-Salary-Range'] = df_salary['Max-Salary-Range'].str.replace(',','')
df_salary["Min-Salary-Range"] =df_salary["Min-Salary-Range"].str.strip()
df_salary["Max-Salary-Range"] =df_salary["Max-Salary-Range"].str.strip()
df_salary["Min-Salary-Range"] = df_salary["Min-Salary-Range"].replace(np.nan, 0)
df_salary["Max-Salary-Range"] = df_salary["Max-Salary-Range"].replace(np.nan, 0)
df_salary["Min-Salary-Range"] =df_salary["Min-Salary-Range"].astype(float)
df_salary["Max-Salary-Range"] =df_salary["Max-Salary-Range"].astype(float)
df_salary['Min-Salary-Range'] = df_salary['Min-Salary-Range'].apply(lambda x: x*2000 if x<100 else x)
df_salary['Max-Salary-Range'] = df_salary['Max-Salary-Range'].apply(lambda x: x*2000 if x<100 else x)
df_salary['Mean_Salary'] = (df_salary['Min-Salary-Range'] + df_salary['Max-Salary-Range'])/2
df_salary

,Job Title,Company Name,Location,Salary,Description,Category,Skills,Tools,Min-Salary-Range,Max-Salary-Range,Mean_Salary
0,Senior Business Analyst - Land,Berks Homes,"Mohnton, PA 19540",NaN,Senior Business Analyst - Land Berks Homes is ...,Data Analyst,,"R, Scala",0.0,0.0,0.0
1,ISS-P Data Center Analyst,Consolidated Nuclear Security,"Amarillo, TX",NaN,"Location: Amarillo, TX\nJob Title: ISS-P Data ...",Data Analyst,,R,0.0,0.0,0.0
2,Junior Data Analyst,Strategic Marketing Services,"Louisville, KY 40223","32,000 - 39,500",Basic Function: Develop and process targeted m...,Data Analyst,Data Analysis,"SQL, R, Excel",32000.0,39500.0,35750.0
3,Data Analyst (Louisiana),Tetra Tech Inc.,"Laplace, LA",NaN,Tetra Tech is a leading provider of consulting...,Data Analyst,Data Analysis,"R, Excel",0.0,0.0,0.0
4,Marketing Data Analyst,Mercedes Scientific,"Sarasota, FL 34211","85,000",Mercedes Scientific is a national leader in th...,Data Analyst,,R,85000.0,0.0,42500.0
...,...,...,...,...,...,...,...,...,...,...,...
15708,BI Developer (Power BI),USI Holdings Corporation,Remote,NaN,NaN,Business Intelligence Developer,,,0.0,0.0,0.0
15709,Senior Business Intelligence Developer,BlueVine,"Redwood City, CA 94063 (Downtown area)",NaN,NaN,Business Intelligence Developer,,,0.0,0.0,0.0
15710,SENIOR BUSINESS INTELLIGENCE DEVELOPER,XSOLIS,Remote,NaN,NaN,Business Intelligence Developer,,,0.0,0.0,0.0
15711,Sr. Business Intelligence Developer,Ensemble Health Partners,"Cincinnati, OH",NaN,NaN,Business Intelligence Developer,,,0.0,0.0,0.0
15712,Business Intelligence Developer,Bain Capital,"Boston, MA 02116 (Back Bay area)",NaN,NaN,Business Intelligence Developer,,,0.0,0.0,0.0

In [5]:
#Converting the salary columns to integer
df_salary['Min-Salary-Range'] = df_salary['Min-Salary-Range'].astype(int)
df_salary['Max-Salary-Range'] = df_salary['Max-Salary-Range'].astype(int)
df_salary['Mean_Salary'] = df_salary['Mean_Salary'].astype(int)
df_salary

,Job Title,Company Name,Location,Salary,Description,Category,Skills,Tools,Min-Salary-Range,Max-Salary-Range,Mean_Salary
0,Senior Business Analyst - Land,Berks Homes,"Mohnton, PA 19540",NaN,Senior Business Analyst - Land Berks Homes is ...,Data Analyst,,"R, Scala",0,0,0
1,ISS-P Data Center Analyst,Consolidated Nuclear Security,"Amarillo, TX",NaN,"Location: Amarillo, TX\nJob Title: ISS-P Data ...",Data Analyst,,R,0,0,0
2,Junior Data Analyst,Strategic Marketing Services,"Louisville, KY 40223","32,000 - 39,500",Basic Function: Develop and process targeted m...,Data Analyst,Data Analysis,"SQL, R, Excel",32000,39500,35750
3,Data Analyst (Louisiana),Tetra Tech Inc.,"Laplace, LA",NaN,Tetra Tech is a leading provider of consulting...,Data Analyst,Data Analysis,"R, Excel",0,0,0
4,Marketing Data Analyst,Mercedes Scientific,"Sarasota, FL 34211","85,000",Mercedes Scientific is a national leader in th...,Data Analyst,,R,85000,0,42500
...,...,...,...,...,...,...,...,...,...,...,...
15708,BI Developer (Power BI),USI Holdings Corporation,Remote,NaN,NaN,Business Intelligence Developer,,,0,0,0
15709,Senior Business Intelligence Developer,BlueVine,"Redwood City, CA 94063 (Downtown area)",NaN,NaN,Business Intelligence Developer,,,0,0,0
15710,SENIOR BUSINESS INTELLIGENCE DEVELOPER,XSOLIS,Remote,NaN,NaN,Business Intelligence Developer,,,0,0,0
15711,Sr. Business Intelligence Developer,Ensemble Health Partners,"Cincinnati, OH",NaN,NaN,Business Intelligence Developer,,,0,0,0
15712,Business Intelligence Developer,Bain Capital,"Boston, MA 02116 (Back Bay area)",NaN,NaN,Business Intelligence Developer,,,0,0,0

In [6]:
df_salary

,Job Title,Company Name,Location,Salary,Description,Category,Skills,Tools,Min-Salary-Range,Max-Salary-Range,Mean_Salary
0,Senior Business Analyst - Land,Berks Homes,"Mohnton, PA 19540",NaN,Senior Business Analyst - Land Berks Homes is ...,Data Analyst,,"R, Scala",0,0,0
1,ISS-P Data Center Analyst,Consolidated Nuclear Security,"Amarillo, TX",NaN,"Location: Amarillo, TX\nJob Title: ISS-P Data ...",Data Analyst,,R,0,0,0
2,Junior Data Analyst,Strategic Marketing Services,"Louisville, KY 40223","32,000 - 39,500",Basic Function: Develop and process targeted m...,Data Analyst,Data Analysis,"SQL, R, Excel",32000,39500,35750
3,Data Analyst (Louisiana),Tetra Tech Inc.,"Laplace, LA",NaN,Tetra Tech is a leading provider of consulting...,Data Analyst,Data Analysis,"R, Excel",0,0,0
4,Marketing Data Analyst,Mercedes Scientific,"Sarasota, FL 34211","85,000",Mercedes Scientific is a national leader in th...,Data Analyst,,R,85000,0,42500
...,...,...,...,...,...,...,...,...,...,...,...
15708,BI Developer (Power BI),USI Holdings Corporation,Remote,NaN,NaN,Business Intelligence Developer,,,0,0,0
15709,Senior Business Intelligence Developer,BlueVine,"Redwood City, CA 94063 (Downtown area)",NaN,NaN,Business Intelligence Developer,,,0,0,0
15710,SENIOR BUSINESS INTELLIGENCE DEVELOPER,XSOLIS,Remote,NaN,NaN,Business Intelligence Developer,,,0,0,0
15711,Sr. Business Intelligence Developer,Ensemble Health Partners,"Cincinnati, OH",NaN,NaN,Business Intelligence Developer,,,0,0,0
15712,Business Intelligence Developer,Bain Capital,"Boston, MA 02116 (Back Bay area)",NaN,NaN,Business Intelligence Developer,,,0,0,0

In [7]:
#Cleaning steps for Location column
df_salary= df_salary.join(df_salary['Location'].str.split(',', 1, expand=True).rename(columns={0:'City', 1:'State_zipcode'}))
df_salary['state'] =df_salary['State_zipcode'] .str[:3]
df_salary['zipcode'] =df_salary['State_zipcode'] .str[4:9]
df_salary = df_salary.drop('State_zipcode', axis=1)
df_salary['City'] = df_salary['City'].str.replace('Remote', '')
df_salary['City'] = df_salary['City'].str.replace('â€¢', '')
df_salary

,Job Title,Company Name,Location,Salary,Description,Category,Skills,Tools,Min-Salary-Range,Max-Salary-Range,Mean_Salary,City,state,zipcode
0,Senior Business Analyst - Land,Berks Homes,"Mohnton, PA 19540",NaN,Senior Business Analyst - Land Berks Homes is ...,Data Analyst,,"R, Scala",0,0,0,Mohnton,PA,19540
1,ISS-P Data Center Analyst,Consolidated Nuclear Security,"Amarillo, TX",NaN,"Location: Amarillo, TX\nJob Title: ISS-P Data ...",Data Analyst,,R,0,0,0,Amarillo,TX,
2,Junior Data Analyst,Strategic Marketing Services,"Louisville, KY 40223","32,000 - 39,500",Basic Function: Develop and process targeted m...,Data Analyst,Data Analysis,"SQL, R, Excel",32000,39500,35750,Louisville,KY,40223
3,Data Analyst (Louisiana),Tetra Tech Inc.,"Laplace, LA",NaN,Tetra Tech is a leading provider of consulting...,Data Analyst,Data Analysis,"R, Excel",0,0,0,Laplace,LA,
4,Marketing Data Analyst,Mercedes Scientific,"Sarasota, FL 34211","85,000",Mercedes Scientific is a national leader in th...,Data Analyst,,R,85000,0,42500,Sarasota,FL,34211
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15708,BI Developer (Power BI),USI Holdings Corporation,Remote,NaN,NaN,Business Intelligence Developer,,,0,0,0,,None,None
15709,Senior Business Intelligence Developer,BlueVine,"Redwood City, CA 94063 (Downtown area)",NaN,NaN,Business Intelligence Developer,,,0,0,0,Redwood City,CA,94063
15710,SENIOR BUSINESS INTELLIGENCE DEVELOPER,XSOLIS,Remote,NaN,NaN,Business Intelligence Developer,,,0,0,0,,None,None
15711,Sr. Business Intelligence Developer,Ensemble Health Partners,"Cincinnati, OH",NaN,NaN,Business Intelligence Developer,,,0,0,0,Cincinnati,OH,
15712,Business Intelligence Developer,Bain Capital,"Boston, MA 02116 (Back Bay area)",NaN,NaN,Business Intelligence Developer,,,0,0,0,Boston,MA,02116

In [10]:
df_salary['zipcode'].unique().tolist()

['19540',
 '',
 '40223',
 '34211',
 '37067',
 'Tempo',
 '06032',
 'Remot',
 None,
 '90404',
 '74134',
 '60625',
 '94041',
 '98052',
 '37934',
 '98119',
 '30022',
 '10001',
 '20653',
 '98607',
 '98195',
 '10176',
 '94533',
 '33610',
 '98507',
 '30328',
 '33614',
 '53715',
 '22042',
 '30309',
 '48226',
 '01742',
 '75240',
 '97311',
 '16063',
 '21005',
 '80234',
 '32812',
 '85251',
 '27601',
 '10003',
 '10022',
 '10017',
 '85706',
 '95815',
 '99357',
 '94043',
 '79102',
 '80301',
 '92129',
 '33166',
 '90401',
 '77389',
 '48864',
 '85043',
 '43026',
 '14220',
 '19380',
 '60637',
 '80222',
 '(Nort',
 '22033',
 '74820',
 '02130',
 '85258',
 '80202',
 '03054',
 '94607',
 '20007',
 '48824',
 '92626',
 '33301',
 '55418',
 '10018',
 '85701',
 '78230',
 '39216',
 '33634',
 '02111',
 '10007',
 '06106',
 '98004',
 '10504',
 '94404',
 '20510',
 '90001',
 '10011',
 '20147',
 '22030',
 '02116',
 '75211',
 '80921',
 '75231',
 '22201',
 '01810',
 '60606',
 '75201',
 '91340',
 '53717',
 '60563',
 '(Chel',
 '23502',
 '23222',
 '91505',
 '10036',
 '91301',
 '10055',
 '30346',
 '80205',
 '43215',
 '48033',
 '95630',
 '46204',
 '98108',
 '30301',
 '(Down',
 '10261',
 '90094',
 '15205',
 '33309',
 '10038',
 '(Sout',
 '92618',
 '50392',
 '21090',
 '33605',
 '97470',
 '80302',
 '85286',
 '02453',
 '02912',
 '(Fina',
 '60604',
 '30339',
 '60609',
 '55104',
 '98006',
 '77040',
 '02184',
 '10019',
 '75023',
 '50131',
 '55345',
 '76706',
 '02864',
 '22406',
 '10104',
 '63010',
 '97204',
 '98027',
 '90048',
 '20005',
 '33755',
 '02109',
 '47708',
 '21030',
 '60008',
 '80221',
 '04101',
 '50266',
 '22101',
 '06089',
 '16501',
 '43210',
 '11753',
 '(Leno',
 '60612',
 '19104',
 '34236',
 '32124',
 '63131',
 '48176',
 '65706',
 '19610',
 '(Wood',
 '55403',
 '55414',
 '02108',
 '10065',
 '32832',
 '84098',
 '72712',
 '94107',
 '95820',
 '94111',
 '40206',
 '27712',
 '98103',
 '92128',
 '96814',
 '60160',
 '83702',
 '30269',
 '30303',
 '32723',
 '(Veni',
 '90230',
 '02215',
 '37027',
 '30308',
 '84112',
 '48104',
 '07932',
 '94105',
 '90301',
 '55445',
 '78235',
 '28335',
 '19103',
 '94010',
 '20024',
 '75024',
 '60077',
 '90014',
 '90810',
 '95818',
 '84020',
 '96813',
 '85040',
 '33811',
 '11801',
 '55109',
 '30005',
 '33625',
 '53726',
 '78756',
 '92606',
 '80112',
 '93106',
 '78730',
 '33050',
 '47906',
 '05633',
 '24515',
 '10013',
 '33403',
 '76009',
 '97005',
 '80909',
 '33607',
 '78729',
 '85224',
 '52211',
 '90013',
 '20505',
 '55145',
 '33619',
 '37210',
 '92093',
 '80249',
 '95054',
 '92109',
 '11201',
 '37230',
 '21228',
 '22215',
 '32086',
 '94583',
 '80027',
 '78703',
 '55337',
 '94103',
 '20754',
 '75132',
 '98008',
 '68128',
 '60148',
 '70170',
 '20002',
 '33431',
 '80916',
 '27012',
 '30030',
 '61552',
 '94085',
 '63368',
 '75219',
 '30319',
 '94118',
 '91109',
 '98194',
 '63017',
 '35806',
 '02152',
 '10014',
 '94304',
 '02210',
 '22150',
 '98101',
 '33004',
 '63146',
 '32256',
 '02199',
 '01821',
 '07936',
 '45201',
 '31021',
 '78288',
 '19019',
 '23219',
 '20859',
 '92130',
 '90012',
 '80919',
 '20701',
 '19804',
 '92121',
 '20814',
 '19426',
 '48075',
 '78758',
 '76262',
 '94560',
 '63134',
 '29708',
 '85004',
 '94108',
 '95131',
 '10012',
 '94086',
 '83716',
 '98055',
 '75094',
 '91367',
 '01864',
 '84604',
 '23187',
 '46556',
 '90291',
 '99354',
 '01581',
 '98164',
 '91730',
 '21075',
 '50158',
 '72201',
 '80021',
 '20001',
 '75039',
 '11050',
 '93013',
 '45040',
 '33137',
 '77002',
 '94065',
 '50309',
 '48103',
 '94588',
 '22314',
 '55402',
 '80011',
 '33408',
 '33602',
 '27560',
 '94110',
 '27513',
 '19958',
 '03063',
 '08540',
 '22902',
 '06877',
 '27599',
 '30096',
 '15213',
 '(The ',
 '08536',
 '90064',
 '90250',
 '90066',
 '27709',
 '35203',
 '55346',
 '77084',
 '02110',
 '91767',
 '60654',
 '15236',
 '98660',
 '27587',
 '84095',
 '27703',
 '37660',
 '87102',
 '92688',
 '60608',
 '45342',
 '20003',
 '42104',
 '10520',
 '22182',
 '20006',
 '94147',
 '37219',
 '(Cent',
 '53704',
 '85284',
 '20201',
 '75229',
 '22060',
 '01538',
 '49022',
 '02119',
 '92651',
 '63141',
 '97128',
 '74145',
 '97330',
 '84003',
 '32801',
 '30326',
 '32202',
 '20420',
 '78232',
 '15203',
 '32301',
 '17011',
 '20019',
 '07737',
 '77320',
 '15222',
 '70139',
 '94102',
 '75051',
 '23806',
 '23842',
 '63103',
 '30076',
 '94301',
 '93042',
 '33907',
 '80237',
 '92243',
 '95814',
 '48243',
 '93704',
 '49503',
 '19903',
 '20191',
 '28202',
 '20779',
 '80901',
 '33131',
 '20850',
 '55426',
 '60169',
 '48005',
 '76102',
 '01570',
 '28277',
 '89169',
 '22079',
 '53044',
 '95828',
 '44143',
 '21046',
 '70121',
 '94089',
 '64089',
 '85297',
 '96097',
 '20166',
 '92315',
 '30004',
 '90015',
 '90021',
 '80111',
 '78746',
 '95363',
 '97201',
 '75202',
 '21237',
 '73105',
 '21044',
 '32901',
 '90045',
 '33716',
 '80299',
 '68137',
 '28244',
 '01803',
 '60603',
 '33637',
 '92630',
 '20817',
 '27609',
 '90028',
 '65111',
 '90071',
 '23060',
 '75247',
 '20151',
 '47404',
 '08837',
 '92356',
 '19901',
 '92210',
 '95928',
 '95052',
 '93727',
 '78759',
 '19044',
 '78154',
 '64110',
 '17033',
 '28759',
 '49858',
 '92571',
 '60605',
 '58504',
 '53562',
 '07748',
 '83701',
 '18020',
 '19717',
 '20901',
 '98134',
 '94070',
 '97202',
 '48201',
 '30824',
 '65803',
 '02917',
 '19720',
 '13441',
 '92660',
 '04011',
 '99503',
 '21093',
 '89423',
 '98121',
 '48377',
 '02026',
 '78653',
 '23115',
 '12180',
 '19713',
 '80401',
 '33401',
 '68507',
 '98104',
 '91355',
 '37801',
 '54115',
 '10060',
 '90069',
 '91502',
 '89434',
 '94104',
 '46540',
 '33065',
 '92131',
 '77840',
 '20170',
 '98072',
 '40511',
 '77073',
 '32810',
 '85027',
 '01747',
 '75235',
 '62762',
 '00917',
 '84133',
 '22102',
 '98109',
 '38111',
 '20148',
 '48309',
 '90245',
 '33705',
 '08830',
 '92123',
 '75075',
 '48170',
 '78249',
 '04096',
 '60126',
 '84341',
 '68528',
 '01760',
 '60616',
 '89557',
 '90815',
 '45011',
 '94402',
 '78613',
 '80908',
 '48168',
 '97124',
 '95050',
 '95827',
 '02090',
 '33708',
 '20036',
 '32825',
 '08852',
 '85309',
 '48108',
 '(Irvi',
 '75038',
 '46032',
 '84119',
 '(Frem',
 '(MIT ',
 '97321',
 '27606',
 '07030',
 '90006',
 '30302',
 '22209',
 '26501',
 '33134',
 '33196',
 '94022',
 '08057',
 '94114',
 '95128',
 '07747',
 '19102',
 '94501',
 '10041',
 '20110',
 '37909',
 '92122',
 '84043',
 '94662',
 '84101',
 '43219',
 '78744',
 '84108',
 '95110',
 '48105',
 '97240',
 '18036',
 '(Lake',
 '91125',
 '05060',
 '07920',
 '90403',
 '92612',
 '60069',
 '77027',
 '10020',
 '94587',
 '10005',
 '80125',
 '78704',
 '14203',
 '23173',
 '94804',
 '06484',
 '94025',
 '94203',
 '90095',
 '94550',
 '02128',
 '48310',
 '95035',
 '07054',
 '95822',
 '08534',
 '76108',
 '83705',
 '59715',
 '75063',
 '19518',
 '78124',
 '27526',
 '43235',
 '80020',
 '19148',
 '17055',
 '85306',
 '43515',
 '41076',
 '10016',
 '60622',
 '10128',
 '05401',
 '90703',
 '90405',
 '97312',
 '98662',
 '22202',
 '53202',
 '58078',
 '63011',
 '48109',
 '06105',
 '78751',
 '84097',
 '91324',
 '45245',
 '83642',
 '94019',
 '84120',
 '78714',
 '93021',
 '(Belm',
 '80002',
 '30318',
 '19850',
 '80124',
 '08628',
 '54650',
 '14202',
 '20678',
 '11735',
 '27699',
 '76137',
 '16933',
 '10112',
 '19460',
 '19428',
 '23225',
 '76155',
 '37203',
 '90032',
 '27021',
 '78754',
 '85287',
 '48915',
 '23238',
 '91362',
 '78041',
 '90017',
 '20833',
 '06473',
 '33136',
 '07645',
 '61701',
 '97239',
 '17543',
 '37929',
 '80521',
 '98683',
 '77218',
 '63127',
 '30518',
 '23909',
 '34677',
 '89118',
 '48322',
 '85001',
 '64105',
 '68008',
 '92656',
 '55347',
 '68310',
 '33336',
 '78741',
 '78229',
 '30157',
 '64784',
 '92614',
 '98207',
 '79407',
 '94544',
 '36507',
 '61264',
 '39074',
 '27284',
 '85029',
 '23511',
 '80206',
 '33635',
 '44131',
 '37072',
 '60540',
 '23505',
 '45373',
 '22554',
 '40516',
 '77032',
 '77058',
 '77056',
 '48313',
 '29601',
 '92408',
 '23111',
 '47710',
 '63043',
 '76544',
 '29715',
 '08518',
 '60018',
 '06510',
 '84401',
 '55421',
 '07073',
 '73102',
 '23320',
 '98107',
 '91789',
 '93117',
 '40213',
 '22556',
 '27202',
 '08054',
 '22134',
 '77001',
 '92037',
 '75215',
 '52317',
 '19703',
 '78750',
 '60714',
 '87109',
 '84116',
 '50613',
 '98661',
 '04092',
 '72223',
 '80303',
 '60045',
 '63026',
 '46750',
 '33445',
 '78130',
 '30314',
 '08542',
 '65807',
 '20715',
 '37244',
 '32934',
 '77070',
 '94080',
 '63105',
 '73301',
 '30253',
 '60523',
 '27401',
 '32608',
 '06103',
 '20190',
 '33773',
 '78204',
 '80537',
 '92101',
 '38654',
 '02025',
 '92868',
 '07922',
 '55442',
 '60440',
 '80902',
 '94720',
 '78202',
 '53222',
 '07102',
 '60611',
 '30116',
 '90840',
 '76104',
 '22180',
 '92821',
 '55387',
 '21201',
 '06511',
 '27617',
 '97703',
 '96817',
 '02115',
 '95758',
 '94109',
 '45231',
 '03909',
 '02451',
 '32502',
 '63123',
 '75230',
 '11104',
 '10577',
 '56001',
 '62401',
 '94134',
 '91364',
 '92127',
 '01923',
 '20004',
 '32816',
 '92324',
 '92780',
 '60007',
 '08844',
 '27612',
 '35209',
 '32822',
 '60085',
 '37831',
 '85054',
 '61108',
 '48307',
 '97224',
 '36101',
 '34683',
 '23832',
 '19067',
 '54017',
 '78701',
 '10006',
 '97214',
 '97209',
 '17345',
 '31024',
 '28031',
 '60602',
 '15219',
 '50317',
 '02067',
 '60632',
 '97501',
 '17050',
 '72761',
 '46037',
 '49684',
 '97304',
 '95661',
 '99362',
 '83686',
 '06152',
 '27710',
 '55044',
 '45242',
 '43064',
 '22311',
 '33813',
 '01111',
 '60614',
 '01960',
 '60025',
 '12202',
 '43017',
 '78717',
 '91107',
 '60168',
 '60601',
 '54451',
 '49423',
 '00907',
 '02347',
 '37421',
 '00968',
 '(Lea ',
 '48787',
 '23452',
 '01938',
 '27701',
 '92806',
 '44667',
 '48152',
 '10532',
 '32955',
 '60047',
 '85259',
 '77042',
 '61938',
 '77019',
 '14623',
 '78738',
 '30342',
 '17112',
 '33601',
 '40272',
 '60504',
 '90061',
 '61822',
 '94539',
 '11205',
 '04106',
 '98402',
 '33127',
 '75082',
 '32751',
 '92805',
 '37243',
 '60607',
 '03833',
 '30041',
 '90802',
 '60181',
 '93012',
 '78731',
 '31402',
 '85266',
 '84663',
 '85012',
 '90501',
 '00926',
 '05602',
 '06902',
 '53595',
 '02124',
 '64106',
 '55422',
 '11101',
 '02142',
 '89109',
 '76103',
 '02301',
 ...]

In [23]:
df_salary['zipcode'] = df_salary['zipcode'].str.replace("Tempo",'')
df_salary['zipcode'] = df_salary['zipcode'].str.replace("Remot",'')
df_salary['zipcode'] = df_salary['zipcode'].str.replace("(Sout",'')
df_salary['zipcode'] = df_salary['zipcode'].str.replace("((Leno",'')
df_salary['zipcode'] = df_salary['zipcode'].str.replace("(The ",'')
df_salary['zipcode'] = df_salary['zipcode'].str.replace("(Veni",'')
df_salary['zipcode'] = df_salary['zipcode'].str.replace("(Cent",'')
df_salary['zipcode'] = df_salary['zipcode'].str.replace("(Irvi",'')
df_salary['zipcode'] = df_salary['zipcode'].str.replace("(MIT ",'')
df_salary['zipcode'] = df_salary['zipcode'].str.replace("(Lake",'')
df_salary['zipcode'] = df_salary['zipcode'].str.replace("(Frem",'')

error: missing ), unterminated subpattern at position 0

In [9]:
# Write all merged files into one
df_salary.to_csv("../Resources/cpj_salary_location_cleaned.csv", index=False)