In [2]:
import requests
import json
import prettytable
from bs4 import BeautifulSoup as bs
import pymongo
import pandas as pd
from splinter import Browser
from webdriver_manager.chrome import ChromeDriverManager

In [3]:
#setting up splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless = False)

====== WebDriver manager ======
Current google-chrome version is 93.0.4577
Get LATEST driver version for 93.0.4577
Driver [C:\Users\Andrew\.wdm\drivers\chromedriver\win32\93.0.4577.63\chromedriver.exe] found in cache

In [60]:
table_url = "https://www.bls.gov/oes/current/oes_nat.htm"
tablehtml = pd.read_html(table_url)
tableraw = tablehtml[0]
# table = tableraw.to_html(index = False)
tableraw = tableraw.drop([0, 1041])
tableraw = tableraw.rename(columns = {"Occupation title (click on the occupation title to view its profile)": "Occupation"})
filtered = tableraw[tableraw['Occupation code'].str[3].isin(['0'])]
# def bold_categories(x):

#         if x == filtered:
#             return 'font-weight: bold'
#         else:
#             return ''

# boldedtable = tableraw.style.applymap(bold_categories)
# boldedtable
filteredtable = tableraw.loc[:, ['Occupation', 'Employment', 'Employment per 1,000 jobs', 'Annual mean wage']]
filteredtable

,Occupation,Employment,"Employment per 1,000 jobs",Annual mean wage
1,All Occupations,139099570,1000.000,"$56,310"
2,Management Occupations,7947300,57.134,"$126,480"
3,Top Executives,2601070,18.699,"$129,920"
4,Chief Executives,202360,1.455,"$197,840"
5,General and Operations Managers,2347420,16.876,"$125,740"
...,...,...,...,...
1036,"Pump Operators, Except Wellhead Pumpers",10580,0.076,"$51,830"
1037,Wellhead Pumpers,12050,0.087,"$60,500"
1038,Refuse and Recyclable Material Collectors,120850,0.869,"$42,620"
1039,"Tank Car, Truck, and Ship Loaders",12610,0.091,"$50,670"
1040,"Material Moving Workers, All Other",26300,0.189,"$37,770"

In [26]:
tableraw[tableraw['Occupation code'].str[3].isin(['0'])]

,Occupation code,Occupation,Level,Employment,Employment RSE,"Employment per 1,000 jobs",Median hourly wage,Mean hourly wage,Annual mean wage,Mean wage RSE
1,00-0000,All Occupations,total,139099570,0.1%,1000.000,$20.17,$27.07,"$56,310",0.1%
2,11-0000,Management Occupations,major,7947300,0.2%,57.134,$52.77,$60.81,"$126,480",0.2%
43,13-0000,Business and Financial Operations Occupations,major,8387490,0.2%,60.298,$34.73,$38.79,"$80,680",0.2%
79,15-0000,Computer and Mathematical Occupations,major,4587700,0.5%,32.981,$43.92,$46.53,"$96,770",0.5%
103,17-0000,Architecture and Engineering Occupations,major,2515040,0.5%,18.081,$39.98,$43.41,"$90,300",0.3%
148,19-0000,"Life, Physical, and Social Science Occupations",major,1296060,0.7%,9.317,$33.54,$38.15,"$79,360",0.4%
210,21-0000,Community and Social Service Occupations,major,2231070,0.5%,16.039,$22.85,$25.09,"$52,180",0.4%
233,23-0000,Legal Occupations,major,1154740,0.5%,8.302,$40.82,$54.00,"$112,320",0.7%
247,25-0000,Educational Instruction and Library Occupations,major,8446910,0.4%,60.726,$25.18,$28.75,"$59,810",0.5%
332,27-0000,"Arts, Design, Entertainment, Sports, and Media...",major,1857500,0.7%,13.354,$25.55,$30.96,"$64,400",0.7%
385,29-0000,Healthcare Practitioners and Technical Occupat...,major,8579180,0.3%,61.677,$33.59,$41.30,"$85,900",0.2%
449,31-0000,Healthcare Support Occupations,major,6440880,0.4%,46.304,$14.40,$15.50,"$32,250",0.2%
474,33-0000,Protective Service Occupations,major,3351180,0.4%,24.092,$21.02,$25.11,"$52,220",0.7%
507,35-0000,Food Preparation and Serving Related Occupations,major,11262850,0.2%,80.970,$12.26,$13.30,"$27,650",0.2%
530,37-0000,Building and Grounds Cleaning and Maintenance ...,major,4090370,0.3%,29.406,$14.39,$15.75,"$32,760",0.2%
545,39-0000,Personal Care and Service Occupations,major,2696340,0.5%,19.384,$13.52,$15.68,"$32,610",0.2%
586,41-0000,Sales and Related Occupations,major,13120320,0.2%,94.323,$15.15,$22.00,"$45,750",0.2%
619,43-0000,Office and Administrative Support Occupations,major,18548360,0.2%,133.346,$18.62,$20.38,"$42,390",0.1%
683,45-0000,"Farming, Fishing, and Forestry Occupations",major,478770,1.2%,3.442,$14.27,$16.02,"$33,310",0.4%
701,47-0000,Construction and Extraction Occupations,major,5937830,0.3%,42.688,$23.37,$25.93,"$53,940",0.2%
773,49-0000,"Installation, Maintenance, and Repair Occupations",major,5486930,0.3%,39.446,$23.44,$25.17,"$52,360",0.1%
839,51-0000,Production Occupations,major,8519410,0.3%,61.247,$18.00,$20.08,"$41,760",0.2%
978,53-0000,Transportation and Material Moving Occupations,major,12163360,0.3%,87.444,$16.38,$19.08,"$39,680",0.3%

In [56]:
csvpath = "../static/js/choroplethedit.csv"
wagecsv = pd.read_csv(csvpath)

c:\users\andrew\appdata\local\programs\python\python39\lib\site-packages\IPython\core\interactiveshell.py:3169: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [59]:
wagecsv['Occupation text'].value_counts()

Office and administrative support occupations                               14707
Transportation and material moving occupations                              13284
Sales and related occupations                                               13098
Production occupations                                                      12647
Healthcare practitioners and technical occupations                          12310
                                                                            ...
Door-to-door sales workers, news and street vendors, and related workers        1
Physicists                                                                      1
Hearing aid specialists                                                         1
Music directors and composers                                                   1
Models                                                                          1
Name: Occupation text, Length: 645, dtype: int64