In [1]:
import pandas as pd

In [2]:
# Job titles loading
job_titles_df = pd.read_csv('../resources/job_titles.csv')
job_titles_df

                         job_titles
0                      Data Analyst
1                     Data Engineer
2                    Data Scientist
3                    Data Architect
4        Big Data Software Engineer
5         Machine Learning Engineer
6     Business Intelligence Analyst
7                 Logistics Analyst
8          Business Systems Analyst
9                 Marketing Analyst
10           Data Warehouse Manager
11                 Database Manager
12                     Data Modeler
13           Database Administrator
14             Quantitative Analyst
15               IT Systems Analyst
16                     Statistician
17                 Data Storyteller
18       Machine Learning Scientist
19  Business Intelligence Developer

In [3]:
categories = job_titles_df['job_titles'].to_list()
filenames = job_titles_df['job_titles'].to_list()
filenames =  list(map(lambda x: x.replace(' ', '_'), filenames))
filenames =  list(map(lambda x: "../resources/individual_job_listings/" + x, filenames))
filenames =  list(map(lambda x: x + "_jobs.csv", filenames))
categories

['Data Analyst',
 'Data Engineer',
 'Data Scientist',
 'Data Architect',
 'Big Data Software Engineer',
 'Machine Learning Engineer',
 'Business Intelligence Analyst',
 'Logistics Analyst',
 'Business Systems Analyst',
 'Marketing Analyst',
 'Data Warehouse Manager',
 'Database Manager',
 'Data Modeler',
 'Database Administrator',
 'Quantitative Analyst',
 'IT Systems Analyst',
 'Statistician',
 'Data Storyteller',
 'Machine Learning Scientist',
 'Business Intelligence Developer']

In [4]:
for index in range(len(categories)):
    df = pd.read_csv(filenames[index])
    df['Category']= categories[index]
    df.to_csv(filenames[index],index=False)