In [5]:
import numpy as np
import pandas as pd

In [6]:
df = pd.read_csv("../Resources/cpj_usajobcategorized_with_description.csv")

In [7]:
df

,Position Title,Company Name,Company Location,Salary,Description,city,State Name,Job Title
0,Data Analyst,Other Agencies and Independent Organizations,"Washington, District of Columbia",87198,Help\r\n \n...,Washington,District of Columbia,Data Analyst
1,Health System Specialist (Data Analyst),Department of Veterans Affairs,"West Roxbury, Massachusetts",59498,Help\r\n \n...,West Roxbury,Massachusetts,Data Analyst
2,Supervisory Performance Improvement / Data Ana...,Department of Health And Human Services,"Gallup, New Mexico",92723,Help\r\n \n...,Gallup,New Mexico,Data Analyst
3,Supervisory Performance Improvement / Data Ana...,Department of Health And Human Services,"Gallup, New Mexico",92723,Help\r\n \n...,Gallup,New Mexico,Data Analyst
4,Data Analyst,Other Agencies and Independent Organizations,"Washington, District of Columbia",87198,Help\r\n \n...,Washington,District of Columbia,Data Analyst
...,...,...,...,...,...,...,...,...
1890,Procurement Analyst (Public Notice Flyer),Department of Homeland Security,"Washington, District of Columbia",10369,Help\r\n \n...,Washington,District of Columbia,Procurement Analyst
1891,Contract Specialist/Procurement Analyst - Dire...,Department of Transportation,"Cambridge, Massachusetts",82721,Help\r\n \n...,Cambridge,Massachusetts,Procurement Analyst
1892,Contract Specialist/Procurement Analyst (Direc...,Department of Transportation,No location provided,64009,You will serve as a Contract Specialist and ma...,No location provided,NaN,Procurement Analyst
1893,Contract Specialist/Procurement Analyst (Direc...,Department of Transportation,No location provided,10780,You will serve as a Contract Specialist and ma...,No location provided,NaN,Procurement Analyst
1894,"Contract Spec/Administrator/Negotiator, Procur...",General Services Administration,No location provided,64649,Help\r\n \n...,No location provided,NaN,Procurement Analyst

In [8]:
df["Data Modeling"] = (df["Description"].str.lower()
                            .str.contains("data modeling", regex=False, na=False)
                            .astype(int))
Data_Modeling_df = df.loc[df["Data Modeling"]== 1]
Data_Modeling_df["Skills"] = "Data Modeling"
del Data_Modeling_df["Data Modeling"]
Data_Modeling_df

<ipython-input-8-7da672a3aeaf>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Data_Modeling_df["Skills"] = "Data Modeling"

,Position Title,Company Name,Company Location,Salary,Description,city,State Name,Job Title,Skills
95,IT Specialist (DATAMGT),Department of the Treasury,"Washington, District of Columbia",11961,Help\r\n \n...,Washington,District of Columbia,IT Specialist,Data Modeling
96,IT Specialist (DATAMGT),Department of the Treasury,"Washington, District of Columbia",11961,Help\r\n \n...,Washington,District of Columbia,IT Specialist,Data Modeling
100,IT SPECIALIST (DATAMGT) (T32),Department of the Army,"Montgomery, Alabama",65792,Help\r\n \n...,Montgomery,Alabama,IT Specialist,Data Modeling
116,IT Specialist (DATAMGT),Department of the Treasury,"Washington, District of Columbia",11961,Help\r\n \n...,Washington,District of Columbia,IT Specialist,Data Modeling
117,IT Specialist (DATAMGT),Department of the Treasury,"Washington, District of Columbia",11961,Help\r\n \n...,Washington,District of Columbia,IT Specialist,Data Modeling
121,IT SPECIALIST (DATAMGT) (T32),Department of the Army,"Montgomery, Alabama",65792,Help\r\n \n...,Montgomery,Alabama,IT Specialist,Data Modeling
136,IT Specialist (DATAMGT),Department of the Treasury,"Washington, District of Columbia",11961,Help\r\n \n...,Washington,District of Columbia,IT Specialist,Data Modeling
137,IT Specialist (DATAMGT),Department of the Treasury,"Washington, District of Columbia",11961,Help\r\n \n...,Washington,District of Columbia,IT Specialist,Data Modeling
141,IT SPECIALIST (DATAMGT) (T32),Department of the Army,"Montgomery, Alabama",65792,Help\r\n \n...,Montgomery,Alabama,IT Specialist,Data Modeling
156,IT Specialist (DATAMGT),Department of the Treasury,"Washington, District of Columbia",11961,Help\r\n \n...,Washington,District of Columbia,IT Specialist,Data Modeling
157,IT Specialist (DATAMGT),Department of the Treasury,"Washington, District of Columbia",11961,Help\r\n \n...,Washington,District of Columbia,IT Specialist,Data Modeling
161,IT SPECIALIST (DATAMGT) (T32),Department of the Army,"Montgomery, Alabama",65792,Help\r\n \n...,Montgomery,Alabama,IT Specialist,Data Modeling
181,IT Specialist (DATAMGT),Department of the Treasury,"Washington, District of Columbia",11961,Help\r\n \n...,Washington,District of Columbia,IT Specialist,Data Modeling
182,IT Specialist (DATAMGT),Department of the Treasury,"Washington, District of Columbia",11961,Help\r\n \n...,Washington,District of Columbia,IT Specialist,Data Modeling
186,IT SPECIALIST (DATAMGT) (T32),Department of the Army,"Montgomery, Alabama",65792,Help\r\n \n...,Montgomery,Alabama,IT Specialist,Data Modeling
222,IT Specialist (DATAMGT),Department of the Treasury,"Washington, District of Columbia",11961,Help\r\n \n...,Washington,District of Columbia,IT Specialist,Data Modeling
223,IT Specialist (DATAMGT),Department of the Treasury,"Washington, District of Columbia",11961,Help\r\n \n...,Washington,District of Columbia,IT Specialist,Data Modeling
227,IT SPECIALIST (DATAMGT) (T32),Department of the Army,"Montgomery, Alabama",65792,Help\r\n \n...,Montgomery,Alabama,IT Specialist,Data Modeling
242,IT Specialist (DATAMGT),Department of the Treasury,"Washington, District of Columbia",11961,Help\r\n \n...,Washington,District of Columbia,IT Specialist,Data Modeling
243,IT Specialist (DATAMGT),Department of the Treasury,"Washington, District of Columbia",11961,Help\r\n \n...,Washington,District of Columbia,IT Specialist,Data Modeling
247,IT SPECIALIST (DATAMGT) (T32),Department of the Army,"Montgomery, Alabama",65792,Help\r\n \n...,Montgomery,Alabama,IT Specialist,Data Modeling
305,IT Specialist (DATAMGT),Department of the Treasury,"Washington, District of Columbia",11961,Help\r\n \n...,Washington,District of Columbia,IT Specialist,Data Modeling
307,IT Specialist (DATAMGT),Department of the Treasury,"Washington, District of Columbia",11961,Help\r\n \n...,Washington,District of Columbia,IT Specialist,Data Modeling
371,IT SPECIALIST (DATAMGT) (T32),Department of the Army,"Montgomery, Alabama",65792,Help\r\n \n...,Montgomery,Alabama,IT Specialist,Data Modeling

In [9]:
df["Data Mining"] = (df["Description"].str.lower()
                            .str.contains("data mining", regex=False, na=False)
                            .astype(int))
Data_Mining_df = df.loc[df["Data Mining"]== 1]
Data_Mining_df["Skills"] = "Data Mining"
del Data_Mining_df["Data Mining"]
del Data_Mining_df["Data Modeling"]
Data_Mining_df

<ipython-input-9-023e8490a9cd>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Data_Mining_df["Skills"] = "Data Mining"

,Position Title,Company Name,Company Location,Salary,Description,city,State Name,Job Title,Skills
102,IT SPECIALIST (NETWORK/DATAMGT),Department of the Army,No location provided,45393,Help\r\n \n...,No location provided,NaN,IT Specialist,Data Mining
103,IT Specialist (Data Management),Department of Veterans Affairs,No location provided,66829,Help\r\n \n...,No location provided,NaN,IT Specialist,Data Mining
123,IT SPECIALIST (NETWORK/DATAMGT),Department of the Army,No location provided,45393,Help\r\n \n...,No location provided,NaN,IT Specialist,Data Mining
124,IT Specialist (Data Management),Department of Veterans Affairs,No location provided,66829,Help\r\n \n...,No location provided,NaN,IT Specialist,Data Mining
143,IT SPECIALIST (NETWORK/DATAMGT),Department of the Army,No location provided,45393,Help\r\n \n...,No location provided,NaN,IT Specialist,Data Mining
144,IT Specialist (Data Management),Department of Veterans Affairs,No location provided,66829,Help\r\n \n...,No location provided,NaN,IT Specialist,Data Mining
163,IT SPECIALIST (NETWORK/DATAMGT),Department of the Army,No location provided,45393,Help\r\n \n...,No location provided,NaN,IT Specialist,Data Mining
164,IT Specialist (Data Management),Department of Veterans Affairs,No location provided,66829,Help\r\n \n...,No location provided,NaN,IT Specialist,Data Mining
188,IT SPECIALIST (NETWORK/DATAMGT),Department of the Army,No location provided,45393,Help\r\n \n...,No location provided,NaN,IT Specialist,Data Mining
189,IT Specialist (Data Management),Department of Veterans Affairs,No location provided,66829,Help\r\n \n...,No location provided,NaN,IT Specialist,Data Mining
229,IT SPECIALIST (NETWORK/DATAMGT),Department of the Army,No location provided,45393,Help\r\n \n...,No location provided,NaN,IT Specialist,Data Mining
230,IT Specialist (Data Management),Department of Veterans Affairs,No location provided,66829,Help\r\n \n...,No location provided,NaN,IT Specialist,Data Mining
249,IT SPECIALIST (NETWORK/DATAMGT),Department of the Army,No location provided,45393,Help\r\n \n...,No location provided,NaN,IT Specialist,Data Mining
250,IT Specialist (Data Management),Department of Veterans Affairs,No location provided,66829,Help\r\n \n...,No location provided,NaN,IT Specialist,Data Mining
422,IT SPECIALIST (NETWORK/DATAMGT),Department of the Army,No location provided,45393,Help\r\n \n...,No location provided,NaN,IT Specialist,Data Mining
423,IT Specialist (Data Management),Department of Veterans Affairs,No location provided,66829,Help\r\n \n...,No location provided,NaN,IT Specialist,Data Mining
556,Operations Research Analyst,Department of the Navy,No location provided,49884,Help\r\n \n...,No location provided,NaN,Operations Research Analyst,Data Mining
601,Operations Research Analyst,Department of the Navy,No location provided,49884,Help\r\n \n...,No location provided,NaN,Operations Research Analyst,Data Mining
634,Operations Research Analyst,Department of the Navy,No location provided,49884,Help\r\n \n...,No location provided,NaN,Operations Research Analyst,Data Mining
667,Operations Research Analyst,Department of the Navy,No location provided,49884,Help\r\n \n...,No location provided,NaN,Operations Research Analyst,Data Mining
700,Operations Research Analyst,Department of the Navy,No location provided,49884,Help\r\n \n...,No location provided,NaN,Operations Research Analyst,Data Mining
737,Operations Research Analyst,Department of the Navy,No location provided,49884,Help\r\n \n...,No location provided,NaN,Operations Research Analyst,Data Mining
770,Operations Research Analyst,Department of the Navy,No location provided,49884,Help\r\n \n...,No location provided,NaN,Operations Research Analyst,Data Mining
806,Operations Research Analyst,Department of the Navy,No location provided,49884,Help\r\n \n...,No location provided,NaN,Research_Analyst,Data Mining
859,Operations Research Analyst,Department of the Navy,No location provided,49884,Help\r\n \n...,No location provided,NaN,Research_Analyst,Data Mining
897,Operations Research Analyst,Department of the Navy,No location provided,49884,Help\r\n \n...,No location provided,NaN,Research_Analyst,Data Mining
935,Operations Research Analyst,Department of the Navy,No location provided,49884,Help\r\n \n...,No location provided,NaN,Research_Analyst,Data Mining
973,Operations Research Analyst,Department of the Navy,No location provided,49884,Help\r\n \n...,No location provided,NaN,Research_Analyst,Data Mining
1017,Operations Research Analyst,Department of the Navy,No location provided,49884,Help\r\n \n...,No location provided,NaN,Research_Analyst,Data Mining
1055,Operations Research Analyst,Department of the Navy,No location provided,49884,Help\r\n \n...,No location provided,NaN,Research_Analyst,Data Mining
1772,PROCUREMENT ANALYST,Department of the Air Force,"Hill AFB, Utah",92143,Help\r\n \n...,Hill AFB,Utah,Procurement Analyst,Data Mining
1778,Procurement Analyst,Department of the Army,"Fort Sam Houston, Texas",78036,Help\r\n \n...,Fort Sam Houston,Texas,Procurement Analyst,Data Mining
1790,PROCUREMENT ANALYST,Department of the Air Force,"Hill AFB, Utah",92143,Help\r\n \n...,Hill AFB,Utah,Procurement Analyst,Data Mining
1796,Procurement Analyst,Department of the Army,"Fort Sam Houston, Texas",78036,Help\r\n \n...,Fort Sam Houston,Texas,Procurement Analyst,Data Mining
1808,PROCUREMENT ANALYST,Department of the Air Force,"Hill AFB, Utah",92143,Help\r\n \n...,Hill AFB,Utah,Procurement Analyst,Data Mining
1814,Procurement Analyst,Department of the Army,"Fort Sam Houston, Texas",78036,Help\r\n \n...,Fort Sam Houston,Texas,Procurement Analyst,Data Mining
1826,PROCUREMENT ANALYST,Department of the Air Force,"Hill AFB, Utah",92143,Help\r\n \n...,Hill AFB,Utah,Procurement Analyst,Data Mining
1832,Procurement Analyst,Department of the Army,"Fort Sam Houston, Texas",78036,Help\r\n \n...,Fort Sam Houston,Texas,Procurement Analyst,Data Mining
1844,PROCUREMENT ANALYST,Department of the Air Force,"Hill AFB, Utah",92143,Help\r\n \n...,Hill AFB,Utah,Procurement Analyst,Data Mining
1850,Procurement Analyst,Department of the Army,"Fort Sam Houston, Texas",78036,Help\r\n \n...,Fort Sam Houston,Texas,Procurement Analyst,Data Mining
1862,PROCUREMENT ANALYST,Department of the Air Force,"Hill AFB, Utah",92143,Help\r\n \n...,Hill AFB,Utah,Procurement Analyst,Data Mining
1868,Procurement Analyst,Department of the Army,"Fort Sam Houston, Texas",78036,Help\r\n \n...,Fort Sam Houston,Texas,Procurement Analyst,Data Mining
1880,PROCUREMENT ANALYST,Department of the Air Force,"Hill AFB, Utah",92143,Help\r\n \n...,Hill AFB,Utah,Procurement Analyst,Data Mining
1886,Procurement Analyst,Department of the Army,"Fort Sam Houston, Texas",78036,Help\r\n \n...,Fort Sam Houston,Texas,Procurement Analyst,Data Mining

In [10]:
df["Data Migration"] = (df["Description"].str.lower()
                            .str.contains("data migration", regex=False, na=False)
                            .astype(int))
Data_Migration_df = df.loc[df["Data Migration"]== 1]
Data_Migration_df["Skills"] = "Data Mining"
del Data_Migration_df["Data Mining"]
del Data_Migration_df["Data Modeling"]
del Data_Migration_df["Data Migration"]
Data_Migration_df

Empty DataFrame
Columns: [Position Title, Company Name, Company Location, Salary, Description, city, State Name, Job Title, Skills]
Index: []

In [11]:
df["Data Cleaning"] = (df["Description"].str.lower()
                            .str.contains("data cleaning", regex=False, na=False)
                            .astype(int))
Data_Cleaning_df = df.loc[df["Data Cleaning"]== 1]
Data_Cleaning_df["Skills"] = "Data Cleaning"
del Data_Cleaning_df["Data Mining"]
del Data_Cleaning_df["Data Modeling"]
del Data_Cleaning_df["Data Migration"]
del Data_Cleaning_df["Data Cleaning"]
Data_Cleaning_df

Empty DataFrame
Columns: [Position Title, Company Name, Company Location, Salary, Description, city, State Name, Job Title, Skills]
Index: []

In [12]:
df["Data Integration"] = (df["Description"].str.lower()
                            .str.contains("data integration", regex=False, na=False)
                            .astype(int))
Data_Integration_df = df.loc[df["Data Integration"]== 1]
Data_Integration_df["Skills"] = "Data Integration"
del Data_Integration_df["Data Mining"]
del Data_Integration_df["Data Modeling"]
del Data_Integration_df["Data Migration"]
del Data_Integration_df["Data Cleaning"]
del Data_Integration_df["Data Integration"]
Data_Integration_df

Empty DataFrame
Columns: [Position Title, Company Name, Company Location, Salary, Description, city, State Name, Job Title, Skills]
Index: []

In [13]:
df["Data Collection"] = (df["Description"].str.lower()
                            .str.contains("data collection", regex=False, na=False)
                            .astype(int))
Data_Collection_df = df.loc[df["Data Collection"]== 1]
Data_Collection_df["Skills"] = "Data Collection"
del Data_Collection_df["Data Mining"]
del Data_Collection_df["Data Modeling"]
del Data_Collection_df["Data Migration"]
del Data_Collection_df["Data Cleaning"]
del Data_Collection_df["Data Collection"]
del Data_Collection_df["Data Integration"]
Data_Collection_df

<ipython-input-13-56732a00a6aa>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Data_Collection_df["Skills"] = "Data Collection"

,Position Title,Company Name,Company Location,Salary,Description,city,State Name,Job Title,Skills
2,Supervisory Performance Improvement / Data Ana...,Department of Health And Human Services,"Gallup, New Mexico",92723,Help\r\n \n...,Gallup,New Mexico,Data Analyst,Data Collection
3,Supervisory Performance Improvement / Data Ana...,Department of Health And Human Services,"Gallup, New Mexico",92723,Help\r\n \n...,Gallup,New Mexico,Data Analyst,Data Collection
6,Supervisory Performance Improvement / Data Ana...,Department of Health And Human Services,"Gallup, New Mexico",92723,Help\r\n \n...,Gallup,New Mexico,Data Analyst,Data Collection
7,Supervisory Performance Improvement / Data Ana...,Department of Health And Human Services,"Gallup, New Mexico",92723,Help\r\n \n...,Gallup,New Mexico,Data Analyst,Data Collection
10,Supervisory Performance Improvement / Data Ana...,Department of Health And Human Services,"Gallup, New Mexico",92723,Help\r\n \n...,Gallup,New Mexico,Data Analyst,Data Collection
...,...,...,...,...,...,...,...,...,...
1458,Management and Program Analyst,Court Services and Offender Supervision Agency...,"Washington DC, District of Columbia",60129,Help\r\n \n...,Washington DC,District of Columbia,Management program Analyst,Data Collection
1529,Management and Program Analyst (Records Manage...,Department of Justice,"Washington, District of Columbia",10369,Help\r\n \n...,Washington,District of Columbia,Management program Analyst,Data Collection
1553,Management and Program Analyst,Court Services and Offender Supervision Agency...,"Washington DC, District of Columbia",60129,Help\r\n \n...,Washington DC,District of Columbia,Management program Analyst,Data Collection
1618,Management and Program Analyst (Records Manage...,Department of Justice,"Washington, District of Columbia",10369,Help\r\n \n...,Washington,District of Columbia,Management program Analyst,Data Collection
1642,Management and Program Analyst,Court Services and Offender Supervision Agency...,"Washington DC, District of Columbia",60129,Help\r\n \n...,Washington DC,District of Columbia,Management program Analyst,Data Collection

In [14]:
df["Data Visualization"] = (df["Description"].str.lower()
                            .str.contains("data visualization", regex=False, na=False)
                            .astype(int))
Data_visualization_df = df.loc[df["Data Visualization"]== 1]
Data_visualization_df["Skills"] = "Data Visualization"
del Data_visualization_df["Data Mining"]
del Data_visualization_df["Data Modeling"]
del Data_visualization_df["Data Migration"]
del Data_visualization_df["Data Cleaning"]
del Data_visualization_df["Data Integration"]
del Data_visualization_df["Data Collection"]
del Data_visualization_df["Data Visualization"]
Data_visualization_df

<ipython-input-14-3550e1a91269>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Data_visualization_df["Skills"] = "Data Visualization"

,Position Title,Company Name,Company Location,Salary,Description,city,State Name,Job Title,Skills
0,Data Analyst,Other Agencies and Independent Organizations,"Washington, District of Columbia",87198,Help\r\n \n...,Washington,District of Columbia,Data Analyst,Data Visualization
4,Data Analyst,Other Agencies and Independent Organizations,"Washington, District of Columbia",87198,Help\r\n \n...,Washington,District of Columbia,Data Analyst,Data Visualization
8,Data Analyst,Other Agencies and Independent Organizations,"Washington, District of Columbia",87198,Help\r\n \n...,Washington,District of Columbia,Data Analyst,Data Visualization
12,Data Analyst,Other Agencies and Independent Organizations,"Washington, District of Columbia",87198,Help\r\n \n...,Washington,District of Columbia,Data Analyst,Data Visualization
16,Data Analyst,Other Agencies and Independent Organizations,"Washington, District of Columbia",87198,Help\r\n \n...,Washington,District of Columbia,Data Analyst,Data Visualization
...,...,...,...,...,...,...,...,...,...
1032,Operations Research Analyst (Senior Financial ...,Department of the Treasury,No location provided,13755,Help\r\n \n...,No location provided,NaN,Research_Analyst,Data Visualization
1033,Operations Research Analyst (Senior Financial ...,Department of the Treasury,No location provided,13755,Help\r\n \n...,No location provided,NaN,Research_Analyst,Data Visualization
1055,Operations Research Analyst,Department of the Navy,No location provided,49884,Help\r\n \n...,No location provided,NaN,Research_Analyst,Data Visualization
1070,Operations Research Analyst (Senior Financial ...,Department of the Treasury,No location provided,13755,Help\r\n \n...,No location provided,NaN,Research_Analyst,Data Visualization
1071,Operations Research Analyst (Senior Financial ...,Department of the Treasury,No location provided,13755,Help\r\n \n...,No location provided,NaN,Research_Analyst,Data Visualization

In [15]:
df["Data Extraction"] = (df["Description"].str.lower()
                            .str.contains("data extraction", regex=False, na=False)
                            .astype(int))
Data_extraction_df = df.loc[df["Data Extraction"]== 1]
Data_extraction_df["Skills"] = "Data Extraction"
del Data_extraction_df["Data Mining"]
del Data_extraction_df["Data Modeling"]
del Data_extraction_df["Data Migration"]
del Data_extraction_df["Data Cleaning"]
del Data_extraction_df["Data Integration"]
del Data_extraction_df["Data Collection"]
del Data_extraction_df["Data Visualization"]
del Data_extraction_df["Data Extraction"]
Data_extraction_df

Empty DataFrame
Columns: [Position Title, Company Name, Company Location, Salary, Description, city, State Name, Job Title, Skills]
Index: []

In [16]:
df["Data Analysis"] = (df["Description"].str.lower()
                            .str.contains("data analysis", regex=False, na=False)
                            .astype(int))
Data_Analysis_df = df.loc[df["Data Analysis"]== 1]
Data_Analysis_df["Skills"] = "Data Analysis"
del Data_Analysis_df["Data Mining"]
del Data_Analysis_df["Data Modeling"]
del Data_Analysis_df["Data Migration"]
del Data_Analysis_df["Data Cleaning"]
del Data_Analysis_df["Data Integration"]
del Data_Analysis_df["Data Collection"]
del Data_Analysis_df["Data Visualization"]
del Data_Analysis_df["Data Extraction"]
del Data_Analysis_df["Data Analysis"]
Data_Analysis_df

<ipython-input-16-6650d09b145f>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Data_Analysis_df["Skills"] = "Data Analysis"

,Position Title,Company Name,Company Location,Salary,Description,city,State Name,Job Title,Skills
0,Data Analyst,Other Agencies and Independent Organizations,"Washington, District of Columbia",87198,Help\r\n \n...,Washington,District of Columbia,Data Analyst,Data Analysis
4,Data Analyst,Other Agencies and Independent Organizations,"Washington, District of Columbia",87198,Help\r\n \n...,Washington,District of Columbia,Data Analyst,Data Analysis
8,Data Analyst,Other Agencies and Independent Organizations,"Washington, District of Columbia",87198,Help\r\n \n...,Washington,District of Columbia,Data Analyst,Data Analysis
12,Data Analyst,Other Agencies and Independent Organizations,"Washington, District of Columbia",87198,Help\r\n \n...,Washington,District of Columbia,Data Analyst,Data Analysis
16,Data Analyst,Other Agencies and Independent Organizations,"Washington, District of Columbia",87198,Help\r\n \n...,Washington,District of Columbia,Data Analyst,Data Analysis
...,...,...,...,...,...,...,...,...,...
1819,Contract Specialist/Procurement Analyst - Dire...,Department of Transportation,"Cambridge, Massachusetts",82721,Help\r\n \n...,Cambridge,Massachusetts,Procurement Analyst,Data Analysis
1837,Contract Specialist/Procurement Analyst - Dire...,Department of Transportation,"Cambridge, Massachusetts",82721,Help\r\n \n...,Cambridge,Massachusetts,Procurement Analyst,Data Analysis
1855,Contract Specialist/Procurement Analyst - Dire...,Department of Transportation,"Cambridge, Massachusetts",82721,Help\r\n \n...,Cambridge,Massachusetts,Procurement Analyst,Data Analysis
1873,Contract Specialist/Procurement Analyst - Dire...,Department of Transportation,"Cambridge, Massachusetts",82721,Help\r\n \n...,Cambridge,Massachusetts,Procurement Analyst,Data Analysis
1891,Contract Specialist/Procurement Analyst - Dire...,Department of Transportation,"Cambridge, Massachusetts",82721,Help\r\n \n...,Cambridge,Massachusetts,Procurement Analyst,Data Analysis

In [17]:
df["ETL"] = (df["Description"].str.lower()
                            .str.contains("etl", regex=False, na=False)
                            .astype(int))
ETL_df = df.loc[df["ETL"]== 1]
ETL_df["Skills"] = "ETL"
ETL_df["ETL"] = "ETL"
del ETL_df["Data Mining"]
del ETL_df["Data Modeling"]
del ETL_df["Data Migration"]
del ETL_df["Data Cleaning"]
del ETL_df["Data Integration"]
del ETL_df["Data Collection"]
del ETL_df["Data Visualization"]
del ETL_df["Data Extraction"]
del ETL_df["Data Analysis"]
del ETL_df["ETL"]
ETL_df

<ipython-input-17-843f7375b857>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ETL_df["Skills"] = "ETL"
<ipython-input-17-843f7375b857>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ETL_df["ETL"] = "ETL"

,Position Title,Company Name,Company Location,Salary,Description,city,State Name,Job Title,Skills
56,Interdisciplinary Computer Engineer / Computer...,Legislative Branch,"Washington, District of Columbia",10840,Help\r\n \n...,Washington,District of Columbia,Computer Scientist,ETL
70,Interdisciplinary Computer Engineer / Computer...,Legislative Branch,"Washington, District of Columbia",10840,Help\r\n \n...,Washington,District of Columbia,Computer Scientist,ETL
80,Interdisciplinary Computer Engineer / Computer...,Legislative Branch,"Washington, District of Columbia",10840,Help\r\n \n...,Washington,District of Columbia,Computer Scientist,ETL
85,Interdisciplinary Computer Engineer / Computer...,Legislative Branch,"Washington, District of Columbia",10840,Help\r\n \n...,Washington,District of Columbia,Computer Scientist,ETL
491,IT Specialist (System Administration),Department of Transportation,"Oklahoma City, Oklahoma",78388,Help\r\n \n...,Oklahoma City,Oklahoma,IT Specialist,ETL
492,IT Specialist (System Administration),Department of Transportation,"Oklahoma City, Oklahoma",78388,Help\r\n \n...,Oklahoma City,Oklahoma,IT Specialist,ETL

In [18]:
df["Statistics"] = (df["Description"].str.lower()
                            .str.contains("statistics", regex=False, na=False)
                            .astype(int))
Statistics_df = df.loc[df["Statistics"]== 1]
Statistics_df["Skills"] = "Statistics"
del Statistics_df["Data Mining"]
del Statistics_df["Data Modeling"]
del Statistics_df["Data Migration"]
del Statistics_df["Data Cleaning"]
del Statistics_df["Data Integration"]
del Statistics_df["Data Collection"]
del Statistics_df["Data Visualization"]
del Statistics_df["Data Extraction"]
del Statistics_df["Data Analysis"]
del Statistics_df["ETL"]
del Statistics_df["Statistics"]
Statistics_df

<ipython-input-18-3195e344e05b>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Statistics_df["Skills"] = "Statistics"

,Position Title,Company Name,Company Location,Salary,Description,city,State Name,Job Title,Skills
2,Supervisory Performance Improvement / Data Ana...,Department of Health And Human Services,"Gallup, New Mexico",92723,Help\r\n \n...,Gallup,New Mexico,Data Analyst,Statistics
3,Supervisory Performance Improvement / Data Ana...,Department of Health And Human Services,"Gallup, New Mexico",92723,Help\r\n \n...,Gallup,New Mexico,Data Analyst,Statistics
6,Supervisory Performance Improvement / Data Ana...,Department of Health And Human Services,"Gallup, New Mexico",92723,Help\r\n \n...,Gallup,New Mexico,Data Analyst,Statistics
7,Supervisory Performance Improvement / Data Ana...,Department of Health And Human Services,"Gallup, New Mexico",92723,Help\r\n \n...,Gallup,New Mexico,Data Analyst,Statistics
10,Supervisory Performance Improvement / Data Ana...,Department of Health And Human Services,"Gallup, New Mexico",92723,Help\r\n \n...,Gallup,New Mexico,Data Analyst,Statistics
...,...,...,...,...,...,...,...,...,...
1818,Procurement Analyst (Public Notice Flyer),Department of Homeland Security,"Washington, District of Columbia",10369,Help\r\n \n...,Washington,District of Columbia,Procurement Analyst,Statistics
1836,Procurement Analyst (Public Notice Flyer),Department of Homeland Security,"Washington, District of Columbia",10369,Help\r\n \n...,Washington,District of Columbia,Procurement Analyst,Statistics
1854,Procurement Analyst (Public Notice Flyer),Department of Homeland Security,"Washington, District of Columbia",10369,Help\r\n \n...,Washington,District of Columbia,Procurement Analyst,Statistics
1872,Procurement Analyst (Public Notice Flyer),Department of Homeland Security,"Washington, District of Columbia",10369,Help\r\n \n...,Washington,District of Columbia,Procurement Analyst,Statistics
1890,Procurement Analyst (Public Notice Flyer),Department of Homeland Security,"Washington, District of Columbia",10369,Help\r\n \n...,Washington,District of Columbia,Procurement Analyst,Statistics

In [19]:
df["Web Scraping"] = (df["Description"].str.lower()
                            .str.contains("web scraping", regex=False, na=False)
                            .astype(int))
Web_scraping_df = df.loc[df["Web Scraping"]== 1]
Web_scraping_df["Skills"] = "Web Scraping"
del Web_scraping_df["Data Mining"]
del Web_scraping_df["Data Modeling"]
del Web_scraping_df["Data Migration"]
del Web_scraping_df["Data Cleaning"]
del Web_scraping_df["Data Integration"]
del Web_scraping_df["Data Collection"]
del Web_scraping_df["Data Visualization"]
del Web_scraping_df["Data Extraction"]
del Web_scraping_df["Data Analysis"]
del Web_scraping_df["ETL"]
del Web_scraping_df["Statistics"]
del Web_scraping_df["Web Scraping"]
Web_scraping_df

Empty DataFrame
Columns: [Position Title, Company Name, Company Location, Salary, Description, city, State Name, Job Title, Skills]
Index: []

In [20]:
df["API"] = (df["Description"].str.lower()
                            .str.contains("api", regex=False, na=False)
                            .astype(int))
Api_df = df.loc[df["API"]== 1]
Api_df["Skills"] = "API"
del Api_df["Data Mining"]
del Api_df["Data Modeling"]
del Api_df["Data Migration"]
del Api_df["Data Cleaning"]
del Api_df["Data Integration"]
del Api_df["Data Collection"]
del Api_df["Data Visualization"]
del Api_df["Data Extraction"]
del Api_df["Data Analysis"]
del Api_df["ETL"]
del Api_df["Statistics"]
del Api_df["Web Scraping"]
del Api_df["API"]
Api_df

<ipython-input-20-85ae91674458>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Api_df["Skills"] = "API"

,Position Title,Company Name,Company Location,Salary,Description,city,State Name,Job Title,Skills
73,"Computer Scientist, AST, Computer Research and...",National Aeronautics and Space Administration,"Cleveland, Ohio",80743,Help\r\n \n...,Cleveland,Ohio,Computer Scientist,API
93,IT Specialist (DATAMGT) (Data and Reporting An...,Department of the Treasury,No location provided,92143,Help\r\n \n...,No location provided,NaN,IT Specialist,API
105,IT SPECIALIST (DATA MANAGEMENT),Department of Defense,"Bethesda, Maryland",10369,Help\r\n \n...,Bethesda,Maryland,IT Specialist,API
111,Lead IT Specialist (Network/Data Management),Other Agencies and Independent Organizations,"Washington, District of Columbia",12253,Help\r\n \n...,Washington,District of Columbia,IT Specialist,API
114,IT Specialist (DATAMGT) (Data and Reporting An...,Department of the Treasury,No location provided,92143,Help\r\n \n...,No location provided,NaN,IT Specialist,API
...,...,...,...,...,...,...,...,...,...
1858,"Contract Spec/Administrator/Negotiator, Procur...",General Services Administration,No location provided,64649,Help\r\n \n...,No location provided,NaN,Procurement Analyst,API
1873,Contract Specialist/Procurement Analyst - Dire...,Department of Transportation,"Cambridge, Massachusetts",82721,Help\r\n \n...,Cambridge,Massachusetts,Procurement Analyst,API
1876,"Contract Spec/Administrator/Negotiator, Procur...",General Services Administration,No location provided,64649,Help\r\n \n...,No location provided,NaN,Procurement Analyst,API
1891,Contract Specialist/Procurement Analyst - Dire...,Department of Transportation,"Cambridge, Massachusetts",82721,Help\r\n \n...,Cambridge,Massachusetts,Procurement Analyst,API
1894,"Contract Spec/Administrator/Negotiator, Procur...",General Services Administration,No location provided,64649,Help\r\n \n...,No location provided,NaN,Procurement Analyst,API

In [21]:
all_dfs = [Data_Modeling_df, Data_Mining_df, Data_Migration_df,Data_Integration_df, Data_Collection_df, Data_visualization_df,
           Data_extraction_df, Data_Analysis_df, ETL_df, Statistics_df, Web_scraping_df, Api_df]
         
usa_gov_jobs_skills_df = pd.concat(all_dfs).reset_index(drop=True)
usa_gov_jobs_skills_df

,Position Title,Company Name,Company Location,Salary,Description,city,State Name,Job Title,Skills
0,IT Specialist (DATAMGT),Department of the Treasury,"Washington, District of Columbia",11961,Help\r\n \n...,Washington,District of Columbia,IT Specialist,Data Modeling
1,IT Specialist (DATAMGT),Department of the Treasury,"Washington, District of Columbia",11961,Help\r\n \n...,Washington,District of Columbia,IT Specialist,Data Modeling
2,IT SPECIALIST (DATAMGT) (T32),Department of the Army,"Montgomery, Alabama",65792,Help\r\n \n...,Montgomery,Alabama,IT Specialist,Data Modeling
3,IT Specialist (DATAMGT),Department of the Treasury,"Washington, District of Columbia",11961,Help\r\n \n...,Washington,District of Columbia,IT Specialist,Data Modeling
4,IT Specialist (DATAMGT),Department of the Treasury,"Washington, District of Columbia",11961,Help\r\n \n...,Washington,District of Columbia,IT Specialist,Data Modeling
...,...,...,...,...,...,...,...,...,...
1217,"Contract Spec/Administrator/Negotiator, Procur...",General Services Administration,No location provided,64649,Help\r\n \n...,No location provided,NaN,Procurement Analyst,API
1218,Contract Specialist/Procurement Analyst - Dire...,Department of Transportation,"Cambridge, Massachusetts",82721,Help\r\n \n...,Cambridge,Massachusetts,Procurement Analyst,API
1219,"Contract Spec/Administrator/Negotiator, Procur...",General Services Administration,No location provided,64649,Help\r\n \n...,No location provided,NaN,Procurement Analyst,API
1220,Contract Specialist/Procurement Analyst - Dire...,Department of Transportation,"Cambridge, Massachusetts",82721,Help\r\n \n...,Cambridge,Massachusetts,Procurement Analyst,API
1221,"Contract Spec/Administrator/Negotiator, Procur...",General Services Administration,No location provided,64649,Help\r\n \n...,No location provided,NaN,Procurement Analyst,API

In [22]:
usa_gov_jobs_skills_df['Salary'] = usa_gov_jobs_skills_df['Salary'].fillna(0)

In [23]:
usa_gov_jobs_skills_df['Salary']=usa_gov_jobs_skills_df['Salary'].apply(lambda x:round(x,2))
usa_gov_jobs_skills_df["Salary"]= usa_gov_jobs_skills_df["Salary"].astype('int')

In [24]:
usa_gov_jobs_skills_df.dtypes

Position Title      object
Company Name        object
Company Location    object
Salary               int32
Description         object
city                object
State Name          object
Job Title           object
Skills              object
dtype: object

In [25]:
usa_gov_jobs_skills_df.loc[usa_gov_jobs_skills_df['Salary'] == 0]

Empty DataFrame
Columns: [Position Title, Company Name, Company Location, Salary, Description, city, State Name, Job Title, Skills]
Index: []

In [26]:
usa_gov_jobs_skills_df.drop(usa_gov_jobs_skills_df.loc[usa_gov_jobs_skills_df['Salary']==0].index, inplace=True)

In [27]:
usa_gov_jobs_skills_df.loc[usa_gov_jobs_skills_df['Salary'] == 0]

Empty DataFrame
Columns: [Position Title, Company Name, Company Location, Salary, Description, city, State Name, Job Title, Skills]
Index: []

In [28]:
del usa_gov_jobs_skills_df["Description"]

In [29]:
usa_gov_jobs_skills_df['Salary']=usa_gov_jobs_skills_df['Salary'].apply(lambda x:round(x,2))
usa_gov_jobs_skills_df["Salary"]= usa_gov_jobs_skills_df["Salary"].astype('int')
# usa_gov_jobs_skills_df["Salary"]= usa_gov_jobs_skills_df["Salary"].apply(str)

In [31]:
# usa_gov_jobs_skills_df.to_csv("cpj_usagovjobs_skills_categorized.csv")