In [2]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv('../Resources/cpj_govjobs_cleaned.csv')

In [4]:
df

,Job Title,Company Name,Salary,Job Category,city,State
0,Data Analyst,Other Agencies and Independent Organizations,87198.0,Data Analyst,Washington,District of Columbia
1,IT Specialist (DATAMGT) (Data and Reporting An...,Department of the Treasury,92143.0,Data Analyst,No location provided,NaN
2,Program Analyst (Data Science),Department of Veterans Affairs,66829.0,Data Analyst,No location provided,NaN
3,Health System Specialist (Data Analyst),Department of Veterans Affairs,59498.0,Data Analyst,West Roxbury,Massachusetts
4,Interdisciplinary (Data Research Analyst),Other Agencies and Independent Organizations,10369.0,Data Analyst,Alexandria,Virginia
...,...,...,...,...,...,...
10999,Research Economist Research Mathematicia...,Department of the Treasury,15818.0,Statistician,Washington,District of Columbia
11000,Physical Scientist/Biologist/Mathematical Stat...,Department of the Interior,53433.0,Statistician,No location provided,NaN
11001,Physical Scientist/Biologist/Mathematical Stat...,Department of the Interior,77488.0,Statistician,No location provided,NaN
11002,Health Statistician - PD21E022 - Center for Qu...,Department of Health And Human Services,10369.0,Statistician,Rockville,Maryland
11003,"Mathematical Statistician (Education), GS-1529...",Department of Education,14412.0,Statistician,Washington,District of Columbia

In [5]:
df['Data Analyst'] = (df["Job Title"].str.lower()
                            .str.contains("data analyst", regex=False, na=False)
                            .astype(int))
Data_Analyst_df = df.loc[df['Data Analyst'] == 1]
Data_Analyst_df["Category"] = "Data Analyst"
del Data_Analyst_df["Data Analyst"]
Data_Analyst_df

<ipython-input-5-84dd14c6f739>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Data_Analyst_df["Category"] = "Data Analyst"

,Job Title,Company Name,Salary,Job Category,city,State,Category
0,Data Analyst,Other Agencies and Independent Organizations,87198.0,Data Analyst,Washington,District of Columbia,Data Analyst
3,Health System Specialist (Data Analyst),Department of Veterans Affairs,59498.0,Data Analyst,West Roxbury,Massachusetts,Data Analyst
11,Supervisory Performance Improvement / Data Ana...,Department of Health And Human Services,92723.0,Data Analyst,Gallup,New Mexico,Data Analyst
12,Supervisory Performance Improvement / Data Ana...,Department of Health And Human Services,92723.0,Data Analyst,Gallup,New Mexico,Data Analyst
837,Data Analyst,Other Agencies and Independent Organizations,87198.0,Data Engineer,Washington,District of Columbia,Data Analyst
868,Health System Specialist (Data Analyst),Department of Veterans Affairs,59498.0,Data Engineer,West Roxbury,Massachusetts,Data Analyst
882,Supervisory Performance Improvement / Data Ana...,Department of Health And Human Services,92723.0,Data Engineer,Gallup,New Mexico,Data Analyst
883,Supervisory Performance Improvement / Data Ana...,Department of Health And Human Services,92723.0,Data Engineer,Gallup,New Mexico,Data Analyst
1616,Data Analyst,Other Agencies and Independent Organizations,87198.0,Data Scientist,Washington,District of Columbia,Data Analyst
1680,Health System Specialist (Data Analyst),Department of Veterans Affairs,59498.0,Data Scientist,West Roxbury,Massachusetts,Data Analyst
1731,Supervisory Performance Improvement / Data Ana...,Department of Health And Human Services,92723.0,Data Scientist,Gallup,New Mexico,Data Analyst
1732,Supervisory Performance Improvement / Data Ana...,Department of Health And Human Services,92723.0,Data Scientist,Gallup,New Mexico,Data Analyst
1845,Data Analyst,Other Agencies and Independent Organizations,87198.0,Data Architect,Washington,District of Columbia,Data Analyst
1900,Health System Specialist (Data Analyst),Department of Veterans Affairs,59498.0,Data Architect,West Roxbury,Massachusetts,Data Analyst
1921,Supervisory Performance Improvement / Data Ana...,Department of Health And Human Services,92723.0,Data Architect,Gallup,New Mexico,Data Analyst
1922,Supervisory Performance Improvement / Data Ana...,Department of Health And Human Services,92723.0,Data Architect,Gallup,New Mexico,Data Analyst
1955,Data Analyst,Other Agencies and Independent Organizations,87198.0,Big Data Software Engineer,Washington,District of Columbia,Data Analyst
1992,Health System Specialist (Data Analyst),Department of Veterans Affairs,59498.0,Big Data Software Engineer,West Roxbury,Massachusetts,Data Analyst
2006,Supervisory Performance Improvement / Data Ana...,Department of Health And Human Services,92723.0,Big Data Software Engineer,Gallup,New Mexico,Data Analyst
2007,Supervisory Performance Improvement / Data Ana...,Department of Health And Human Services,92723.0,Big Data Software Engineer,Gallup,New Mexico,Data Analyst
3589,Data Analyst,Other Agencies and Independent Organizations,87198.0,Business Intelligence Analyst,Washington,District of Columbia,Data Analyst
4240,Health System Specialist (Data Analyst),Department of Veterans Affairs,59498.0,Business Intelligence Analyst,West Roxbury,Massachusetts,Data Analyst
4304,Supervisory Performance Improvement / Data Ana...,Department of Health And Human Services,92723.0,Business Intelligence Analyst,Gallup,New Mexico,Data Analyst
4305,Supervisory Performance Improvement / Data Ana...,Department of Health And Human Services,92723.0,Business Intelligence Analyst,Gallup,New Mexico,Data Analyst
4471,Data Analyst,Other Agencies and Independent Organizations,87198.0,Logistics Analyst,Washington,District of Columbia,Data Analyst
5127,Health System Specialist (Data Analyst),Department of Veterans Affairs,59498.0,Logistics Analyst,West Roxbury,Massachusetts,Data Analyst
5192,Supervisory Performance Improvement / Data Ana...,Department of Health And Human Services,92723.0,Logistics Analyst,Gallup,New Mexico,Data Analyst
5193,Supervisory Performance Improvement / Data Ana...,Department of Health And Human Services,92723.0,Logistics Analyst,Gallup,New Mexico,Data Analyst
5465,Data Analyst,Other Agencies and Independent Organizations,87198.0,Business Systems Analyst,Washington,District of Columbia,Data Analyst
6227,Health System Specialist (Data Analyst),Department of Veterans Affairs,59498.0,Business Systems Analyst,West Roxbury,Massachusetts,Data Analyst
6294,Supervisory Performance Improvement / Data Ana...,Department of Health And Human Services,92723.0,Business Systems Analyst,Gallup,New Mexico,Data Analyst
6295,Supervisory Performance Improvement / Data Ana...,Department of Health And Human Services,92723.0,Business Systems Analyst,Gallup,New Mexico,Data Analyst
6377,Data Analyst,Other Agencies and Independent Organizations,87198.0,Marketing Analyst,Washington,District of Columbia,Data Analyst
7029,Health System Specialist (Data Analyst),Department of Veterans Affairs,59498.0,Marketing Analyst,West Roxbury,Massachusetts,Data Analyst
7094,Supervisory Performance Improvement / Data Ana...,Department of Health And Human Services,92723.0,Marketing Analyst,Gallup,New Mexico,Data Analyst
7095,Supervisory Performance Improvement / Data Ana...,Department of Health And Human Services,92723.0,Marketing Analyst,Gallup,New Mexico,Data Analyst
7169,Data Analyst,Other Agencies and Independent Organizations,87198.0,Data Warehouse Manager,Washington,District of Columbia,Data Analyst
7208,Health System Specialist (Data Analyst),Department of Veterans Affairs,59498.0,Data Warehouse Manager,West Roxbury,Massachusetts,Data Analyst
7222,Supervisory Performance Improvement / Data Ana...,Department of Health And Human Services,92723.0,Data Warehouse Manager,Gallup,New Mexico,Data Analyst
7223,Supervisory Performance Improvement / Data Ana...,Department of Health And Human Services,92723.0,Data Warehouse Manager,Gallup,New Mexico,Data Analyst
8463,Data Analyst,Other Agencies and Independent Organizations,87198.0,Data Modeler,Washington,District of Columbia,Data Analyst
8494,Health System Specialist (Data Analyst),Department of Veterans Affairs,59498.0,Data Modeler,West Roxbury,Massachusetts,Data Analyst
8508,Supervisory Performance Improvement / Data Ana...,Department of Health And Human Services,92723.0,Data Modeler,Gallup,New Mexico,Data Analyst
8509,Supervisory Performance Improvement / Data Ana...,Department of Health And Human Services,92723.0,Data Modeler,Gallup,New Mexico,Data Analyst
8528,Data Analyst,Other Agencies and Independent Organizations,87198.0,Quantitative Analyst,Washington,District of Columbia,Data Analyst
9180,Health System Specialist (Data Analyst),Department of Veterans Affairs,59498.0,Quantitative Analyst,West Roxbury,Massachusetts,Data Analyst
9245,Supervisory Performance Improvement / Data Ana...,Department of Health And Human Services,92723.0,Quantitative Analyst,Gallup,New Mexico,Data Analyst
9246,Supervisory Performance Improvement / Data Ana...,Department of Health And Human Services,92723.0,Quantitative Analyst,Gallup,New Mexico,Data Analyst
9888,Data Analyst,Other Agencies and Independent Organizations,87198.0,IT Systems Analyst,Washington,District of Columbia,Data Analyst
10761,Health System Specialist (Data Analyst),Department of Veterans Affairs,59498.0,IT Systems Analyst,West Roxbury,Massachusetts,Data Analyst
10879,Supervisory Performance Improvement / Data Ana...,Department of Health And Human Services,92723.0,IT Systems Analyst,Gallup,New Mexico,Data Analyst
10880,Supervisory Performance Improvement / Data Ana...,Department of Health And Human Services,92723.0,IT Systems Analyst,Gallup,New Mexico,Data Analyst

In [6]:
df['Computer Scientist'] = df["Job Title"].str.contains("Computer Scientist", case=False, na=False).astype(int)
Computer_Scientist_df = df.loc[df['Computer Scientist'] == 1]
Computer_Scientist_df["Category"] = "Computer Scientist"
del Computer_Scientist_df['Data Analyst']
del Computer_Scientist_df["Computer Scientist"]

<ipython-input-6-282d3e244201>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Computer_Scientist_df["Category"] = "Computer Scientist"

In [7]:
Computer_Scientist_df

,Job Title,Company Name,Salary,Job Category,city,State,Category
835,"INTERDISCIPLINARY COMPUTER SCIENTIST, GENERAL ...",Department of the Navy,87198.0,Data Analyst,Patuxent River,Maryland,Computer Scientist
1070,"Computer Engineer, Computer Scientist, Electri...",Other Agencies and Independent Organizations,12253.0,Data Engineer,Rockville,Maryland,Computer Scientist
1287,COMPUTER SCIENTIST/ENGINEER,Department of the Air Force,77488.0,Data Engineer,Eglin AFB,Florida,Computer Scientist
1364,INTERDISCIPLINARY COMPUTER SCIENTIST/COMPUTER ...,Department of the Air Force,10260.0,Data Engineer,Hanscom AFB,Massachusetts,Computer Scientist
1532,Interdisciplinary Computer Engineer / Computer...,Legislative Branch,10840.0,Data Engineer,Washington,District of Columbia,Computer Scientist
1603,"INTERDISCIPLINARY COMPUTER SCIENTIST, GENERAL ...",Department of the Navy,87198.0,Data Engineer,Patuxent River,Maryland,Computer Scientist
1655,Computer Scientist,Department of the Air Force,66829.0,Data Scientist,No location provided,NaN,Computer Scientist
1658,COMPUTER SCIENTIST,Department of the Navy,87198.0,Data Scientist,Saint Inigoes,Maryland,Computer Scientist
1659,Computer Scientist,Department of the Air Force,50106.0,Data Scientist,No location provided,NaN,Computer Scientist
1661,Computer Scientist,Department of the Air Force,30414.0,Data Scientist,No location provided,NaN,Computer Scientist
1663,Computer Scientist,Department of the Treasury,11097.0,Data Scientist,No location provided,NaN,Computer Scientist
1664,COMPUTER SCIENTIST,Department of the Navy,87198.0,Data Scientist,Stafford,Virginia,Computer Scientist
1669,COMPUTER SCIENTIST,Department of the Army,10647.0,Data Scientist,Picatinny Arsenal,New Jersey,Computer Scientist
1671,COMPUTER SCIENTIST,Department of the Air Force,10888.0,Data Scientist,Eglin AFB,Florida,Computer Scientist
1698,COMPUTER SCIENTIST/ENGINEER,Department of the Air Force,77488.0,Data Scientist,Eglin AFB,Florida,Computer Scientist
1781,Student Trainee (Computer Scientist) (PATHWAYS),Department of Commerce,25093.0,Data Scientist,Boulder,Colorado,Computer Scientist
1790,"Computer Scientist, GS-1550-07/09/11/12, Censu...",Department of Commerce,49157.0,Data Scientist,Suitland,Maryland,Computer Scientist
1791,"Computer Scientist, GS-1550-07/09/11/12, Censu...",Department of Commerce,49157.0,Data Scientist,Suitland,Maryland,Computer Scientist
1801,Interdisciplinary Computer Engineer / Computer...,Legislative Branch,10840.0,Data Scientist,Washington,District of Columbia,Computer Scientist
1805,Public Notice for Computer Scientist Cybersecu...,Department of Transportation,66829.0,Data Scientist,No location provided,NaN,Computer Scientist
1806,Public Notice for Computer Scientist Cybersecu...,Department of Transportation,56205.0,Data Scientist,No location provided,NaN,Computer Scientist
1817,"Computer Scientist, AST, Computer Research and...",National Aeronautics and Space Administration,80743.0,Data Scientist,Cleveland,Ohio,Computer Scientist
1825,INTERDISCIPLINARY COMPUTER SCIENTIST/COMPUTER ...,Department of the Air Force,10260.0,Data Scientist,Hanscom AFB,Massachusetts,Computer Scientist
1828,"Computer Engineer, Computer Scientist, Electri...",Other Agencies and Independent Organizations,12253.0,Data Scientist,Rockville,Maryland,Computer Scientist
1831,"INTERDISCIPLINARY COMPUTER SCIENTIST, GENERAL ...",Department of the Navy,87198.0,Data Scientist,Patuxent River,Maryland,Computer Scientist
2194,"Computer Engineer, Computer Scientist, Electri...",Other Agencies and Independent Organizations,12253.0,Big Data Software Engineer,Rockville,Maryland,Computer Scientist
2413,COMPUTER SCIENTIST/ENGINEER,Department of the Air Force,77488.0,Big Data Software Engineer,Eglin AFB,Florida,Computer Scientist
2490,INTERDISCIPLINARY COMPUTER SCIENTIST/COMPUTER ...,Department of the Air Force,10260.0,Big Data Software Engineer,Hanscom AFB,Massachusetts,Computer Scientist
2658,Interdisciplinary Computer Engineer / Computer...,Legislative Branch,10840.0,Big Data Software Engineer,Washington,District of Columbia,Computer Scientist
2729,"INTERDISCIPLINARY COMPUTER SCIENTIST, GENERAL ...",Department of the Navy,87198.0,Big Data Software Engineer,Patuxent River,Maryland,Computer Scientist
2926,"Computer Engineer, Computer Scientist, Electri...",Other Agencies and Independent Organizations,12253.0,Machine Learning Engineer,Rockville,Maryland,Computer Scientist
3142,COMPUTER SCIENTIST/ENGINEER,Department of the Air Force,77488.0,Machine Learning Engineer,Eglin AFB,Florida,Computer Scientist
3219,INTERDISCIPLINARY COMPUTER SCIENTIST/COMPUTER ...,Department of the Air Force,10260.0,Machine Learning Engineer,Hanscom AFB,Massachusetts,Computer Scientist
3389,Interdisciplinary Computer Engineer / Computer...,Legislative Branch,10840.0,Machine Learning Engineer,Washington,District of Columbia,Computer Scientist
3460,"INTERDISCIPLINARY COMPUTER SCIENTIST, GENERAL ...",Department of the Navy,87198.0,Machine Learning Engineer,Patuxent River,Maryland,Computer Scientist
4370,"INTERDISCIPLINARY COMPUTER SCIENTIST, GENERAL ...",Department of the Navy,87198.0,Business Intelligence Analyst,Patuxent River,Maryland,Computer Scientist
5262,"INTERDISCIPLINARY COMPUTER SCIENTIST, GENERAL ...",Department of the Navy,87198.0,Logistics Analyst,Patuxent River,Maryland,Computer Scientist
6360,"INTERDISCIPLINARY COMPUTER SCIENTIST, GENERAL ...",Department of the Navy,87198.0,Business Systems Analyst,Patuxent River,Maryland,Computer Scientist
7164,"INTERDISCIPLINARY COMPUTER SCIENTIST, GENERAL ...",Department of the Navy,87198.0,Marketing Analyst,Patuxent River,Maryland,Computer Scientist
9314,"INTERDISCIPLINARY COMPUTER SCIENTIST, GENERAL ...",Department of the Navy,87198.0,Quantitative Analyst,Patuxent River,Maryland,Computer Scientist
10966,"INTERDISCIPLINARY COMPUTER SCIENTIST, GENERAL ...",Department of the Navy,87198.0,IT Systems Analyst,Patuxent River,Maryland,Computer Scientist

In [8]:
df['IT Specialist'] = (df["Job Title"].str.lower()
                            .str.contains("it specialist", regex=False, na=False)
                            .astype(int))
it_specialist_df = df.loc[df['IT Specialist'] == 1]
it_specialist_df["Category"] = "IT Specialist"
del it_specialist_df['Data Analyst']
del it_specialist_df["Computer Scientist"]
del it_specialist_df["IT Specialist"]

<ipython-input-8-7ccbb0de860e>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  it_specialist_df["Category"] = "IT Specialist"

In [9]:
it_specialist_df

,Job Title,Company Name,Salary,Job Category,city,State,Category
1,IT Specialist (DATAMGT) (Data and Reporting An...,Department of the Treasury,92143.0,Data Analyst,No location provided,NaN,IT Specialist
17,IT Specialist (DATAMGT),Department of Veterans Affairs,46083.0,Data Analyst,No location provided,NaN,IT Specialist
18,IT Specialist (DATAMGT),Department of the Treasury,11961.0,Data Analyst,Washington,District of Columbia,IT Specialist
19,IT Specialist (DATAMGT),Department of the Treasury,11961.0,Data Analyst,Washington,District of Columbia,IT Specialist
20,IT SPECIALIST (DATAMGT) T5,Department of the Army,55355.0,Data Analyst,Phoenix,Arizona,IT Specialist
...,...,...,...,...,...,...,...
9794,Supervisor IT Specialist - Cybersecurity (Vali...,Department of the Navy,11500.0,IT Systems Analyst,Quantico,Virginia,IT Specialist
9801,"Senior IT Specialist, (DATAMGT) CG-2210-15 TEM...",Other Agencies and Independent Organizations,12962.0,IT Systems Analyst,Washington,District of Columbia,IT Specialist
9811,IT Specialist (Policy and Planning/Enterprise ...,Department of the Army,12253.0,IT Systems Analyst,Pentagon,Virginia,IT Specialist
9815,"IT Specialist (Application Software), GS-2210-...",Department of Commerce,10369.0,IT Systems Analyst,Suitland,Maryland,IT Specialist
9816,"Supervisory IT Specialist, CM-2210-01 (Temp Pr...",Other Agencies and Independent Organizations,11019.0,IT Systems Analyst,No location provided,NaN,IT Specialist

In [10]:
df['Operations Research Analyst'] = (df["Job Title"].str.lower()
                            .str.contains("operations research analyst", regex=False, na=False)
                            .astype(int))
operations_research_analyst_df = df.loc[df['Operations Research Analyst'] == 1]
operations_research_analyst_df["Category"] = "Operations Research Analyst"
del operations_research_analyst_df['Data Analyst']
del operations_research_analyst_df["Computer Scientist"]
del operations_research_analyst_df["IT Specialist"]
del operations_research_analyst_df["Operations Research Analyst"]
operations_research_analyst_df

<ipython-input-10-6f1edc10dd9a>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  operations_research_analyst_df["Category"] = "Operations Research Analyst"

,Job Title,Company Name,Salary,Job Category,city,State,Category
15,Operations Research Analyst (Senior Financial ...,Department of the Treasury,13755.0,Data Analyst,No location provided,NaN,Operations Research Analyst
16,Operations Research Analyst (Senior Financial ...,Department of the Treasury,13755.0,Data Analyst,No location provided,NaN,Operations Research Analyst
497,Operations Research Analyst,Department of the Air Force,43683.0,Data Analyst,No location provided,NaN,Operations Research Analyst
499,Operations Research Analyst,Department of the Army,77488.0,Data Analyst,White Sands Missile Range,New Mexico,Operations Research Analyst
500,Operations Research Analyst,Department of Transportation,83458.0,Data Analyst,No location provided,NaN,Operations Research Analyst
...,...,...,...,...,...,...,...
10907,Operations Research Analyst-Joint Requirements...,Department of Homeland Security,79468.0,IT Systems Analyst,Washington,District of Columbia,Operations Research Analyst
10928,Operations Research Analyst (Senior Financial ...,Department of the Treasury,13755.0,IT Systems Analyst,No location provided,NaN,Operations Research Analyst
10929,Operations Research Analyst (Senior Financial ...,Department of the Treasury,13755.0,IT Systems Analyst,No location provided,NaN,Operations Research Analyst
10940,General Engineer/Operations Research Analyst (...,Department of Homeland Security,81057.0,IT Systems Analyst,No location provided,NaN,Operations Research Analyst
10941,General Engineer/Operations Research Analyst (...,Department of Homeland Security,81057.0,IT Systems Analyst,No location provided,NaN,Operations Research Analyst

In [11]:
df['Data Engineer'] = (df["Job Title"].str.lower()
                            .str.contains("data engineer", regex=False, na=False)
                            .astype(int))
Data_engineer_df = df.loc[df['Data Engineer'] == 1]
Data_engineer_df["Category"] = "Data Enginner"
del Data_engineer_df['Data Analyst']
del Data_engineer_df["Computer Scientist"]
del Data_engineer_df["IT Specialist"]
del Data_engineer_df["Operations Research Analyst"]
del Data_engineer_df["Data Engineer"]
Data_engineer_df

Empty DataFrame
Columns: [Job Title, Company Name, Salary, Job Category, city, State, Category]
Index: []

In [12]:
df['Business Intelligence Specialist'] = (df["Job Title"].str.lower()
                            .str.contains("business intelligence specialist", regex=False, na=False)
                            .astype(int))


Business_intelligence_specialist_df = df.loc[df['Business Intelligence Specialist'] == 1]

Business_intelligence_specialist_df ["Category"] = "Business Intelligence Specialist"
del Business_intelligence_specialist_df ['Data Analyst']
del Business_intelligence_specialist_df ["Computer Scientist"]
del Business_intelligence_specialist_df ["IT Specialist"]
del Business_intelligence_specialist_df ["Operations Research Analyst"]
del Business_intelligence_specialist_df ["Business Intelligence Specialist"]
del Business_intelligence_specialist_df ["Data Engineer"]
Business_intelligence_specialist_df

Empty DataFrame
Columns: [Job Title, Company Name, Salary, Job Category, city, State, Category]
Index: []

In [13]:
df['Research Analyst'] = (df["Job Title"].str.lower()
                            .str.contains("research analyst", regex=False, na=False)
                            .astype(int))


Research_analyst_df = df.loc[df['Research Analyst'] == 1]

Research_analyst_df["Category"] = "Research_Analyst"
del Research_analyst_df ['Data Analyst']
del Research_analyst_df ["Computer Scientist"]
del Research_analyst_df ["IT Specialist"]
del Research_analyst_df ["Operations Research Analyst"]
del Research_analyst_df ["Business Intelligence Specialist"]
del Research_analyst_df ["Research Analyst"]
del Research_analyst_df ["Data Engineer"]
Research_analyst_df

<ipython-input-13-579dc7799bc6>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Research_analyst_df["Category"] = "Research_Analyst"

,Job Title,Company Name,Salary,Job Category,city,State,Category
4,Interdisciplinary (Data Research Analyst),Other Agencies and Independent Organizations,10369.0,Data Analyst,Alexandria,Virginia,Research_Analyst
15,Operations Research Analyst (Senior Financial ...,Department of the Treasury,13755.0,Data Analyst,No location provided,NaN,Research_Analyst
16,Operations Research Analyst (Senior Financial ...,Department of the Treasury,13755.0,Data Analyst,No location provided,NaN,Research_Analyst
497,Operations Research Analyst,Department of the Air Force,43683.0,Data Analyst,No location provided,NaN,Research_Analyst
499,Operations Research Analyst,Department of the Army,77488.0,Data Analyst,White Sands Missile Range,New Mexico,Research_Analyst
...,...,...,...,...,...,...,...
10907,Operations Research Analyst-Joint Requirements...,Department of Homeland Security,79468.0,IT Systems Analyst,Washington,District of Columbia,Research_Analyst
10928,Operations Research Analyst (Senior Financial ...,Department of the Treasury,13755.0,IT Systems Analyst,No location provided,NaN,Research_Analyst
10929,Operations Research Analyst (Senior Financial ...,Department of the Treasury,13755.0,IT Systems Analyst,No location provided,NaN,Research_Analyst
10940,General Engineer/Operations Research Analyst (...,Department of Homeland Security,81057.0,IT Systems Analyst,No location provided,NaN,Research_Analyst
10941,General Engineer/Operations Research Analyst (...,Department of Homeland Security,81057.0,IT Systems Analyst,No location provided,NaN,Research_Analyst

In [14]:
df['Chief Data Officer'] = (df["Job Title"].str.lower()
                            .str.contains("cheif data officer", regex=False, na=False)
                            .astype(int))


chief_Data_officer_df = df.loc[df['Chief Data Officer'] == 1]

chief_Data_officer_df["Category"] = "Chief_Data Officer"
del chief_Data_officer_df ['Data Analyst']
del chief_Data_officer_df ["Computer Scientist"]
del chief_Data_officer_df ["IT Specialist"]
del chief_Data_officer_df ["Operations Research Analyst"]
del chief_Data_officer_df ["Business Intelligence Specialist"]
del chief_Data_officer_df ["Research Analyst"]
del chief_Data_officer_df ["Data Engineer"]
del chief_Data_officer_df["Chief Data Officer"]
chief_Data_officer_df

Empty DataFrame
Columns: [Job Title, Company Name, Salary, Job Category, city, State, Category]
Index: []

In [15]:
df['Enterprise Data Manager'] = (df["Job Title"].str.lower()
                            .str.contains("enterprise data manager", regex=False, na=False)
                            .astype(int))


Enterprise_Data_manager= df.loc[df['Enterprise Data Manager'] == 1]

Enterprise_Data_manager["Category"] = "Enterprise Data Manager"
del Enterprise_Data_manager['Data Analyst']
del Enterprise_Data_manager["Computer Scientist"]
del Enterprise_Data_manager["IT Specialist"]
del Enterprise_Data_manager["Operations Research Analyst"]
del Enterprise_Data_manager["Business Intelligence Specialist"]
del Enterprise_Data_manager["Research Analyst"]
del Enterprise_Data_manager["Data Engineer"]
del Enterprise_Data_manager["Chief Data Officer"]
del Enterprise_Data_manager["Enterprise Data Manager"]                                 
Enterprise_Data_manager

Empty DataFrame
Columns: [Job Title, Company Name, Salary, Job Category, city, State, Category]
Index: []

In [16]:
df['Management and Program Analyst'] = (df["Job Title"].str.lower()
                            .str.contains("management and program analyst", regex=False, na=False)
                            .astype(int))


Management_program_Analyst_df= df.loc[df['Management and Program Analyst'] == 1]

Management_program_Analyst_df["Category"] = "Management program Analyst"
del Management_program_Analyst_df ['Data Analyst']
del Management_program_Analyst_df ["Computer Scientist"]
del Management_program_Analyst_df ["IT Specialist"]
del Management_program_Analyst_df ["Operations Research Analyst"]
del Management_program_Analyst_df ["Business Intelligence Specialist"]
del Management_program_Analyst_df ["Research Analyst"]
del Management_program_Analyst_df ["Data Engineer"]
del Management_program_Analyst_df["Chief Data Officer"]
del Management_program_Analyst_df["Enterprise Data Manager"] 
del Management_program_Analyst_df["Management and Program Analyst"]
Management_program_Analyst_df

<ipython-input-16-56bb16f8f937>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Management_program_Analyst_df["Category"] = "Management program Analyst"

,Job Title,Company Name,Salary,Job Category,city,State,Category
14,Supervisory Management and Program Analyst (Da...,Department of Defense,12807.0,Data Analyst,No location provided,NaN,Management program Analyst
413,Management and Program Analyst (Records Manage...,Department of Justice,10369.0,Data Analyst,Washington,District of Columbia,Management program Analyst
441,Management and Program Analyst (Finance and Bu...,Department of Transportation,73336.0,Data Analyst,Washington,District of Columbia,Management program Analyst
587,Management and Program Analyst,Department of Homeland Security,79468.0,Data Analyst,No location provided,NaN,Management program Analyst
589,Management and Program Analyst,Department of Homeland Security,10369.0,Data Analyst,Washington,District of Columbia,Management program Analyst
...,...,...,...,...,...,...,...
10927,Management and Program Analyst (Organizational...,Legislative Branch,12253.0,IT Systems Analyst,Washington,District of Columbia,Management program Analyst
10933,Management and Program Analyst (Business Proce...,Department of Agriculture,80275.0,IT Systems Analyst,Phoenix,Arizona,Management program Analyst
10949,SUPERVISORY MANAGEMENT AND PROGRAM ANALYST (Ch...,Department of Homeland Security,93907.0,IT Systems Analyst,No location provided,NaN,Management program Analyst
10950,Management and Program Analyst (Project Manage...,Department of the Treasury,92143.0,IT Systems Analyst,No location provided,NaN,Management program Analyst
10953,Supervisory Management and Program Analyst (Pr...,Department of the Treasury,10999.0,IT Systems Analyst,No location provided,NaN,Management program Analyst

In [17]:
df['Management and Program Analyst'].value_counts()

0    10372
1      632
Name: Management and Program Analyst, dtype: int64

In [18]:
df['Public Health Analyst'] = (df["Job Title"].str.lower()
                            .str.contains("public health analyst", regex=False, na=False)
                            .astype(int))


public_health_Analyst_df= df.loc[df['Public Health Analyst'] == 1]

public_health_Analyst_df["Category"] = "Public Health Analyst"
del public_health_Analyst_df ['Data Analyst']
del public_health_Analyst_df ["Computer Scientist"]
del public_health_Analyst_df ["IT Specialist"]
del public_health_Analyst_df ["Operations Research Analyst"]
del public_health_Analyst_df ["Business Intelligence Specialist"]
del public_health_Analyst_df ["Research Analyst"]
del public_health_Analyst_df ["Data Engineer"]
del public_health_Analyst_df["Chief Data Officer"]
del public_health_Analyst_df["Enterprise Data Manager"] 
del public_health_Analyst_df["Management and Program Analyst"]
del public_health_Analyst_df["Public Health Analyst"]
public_health_Analyst_df

<ipython-input-18-0e3ae859ff95>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  public_health_Analyst_df["Category"] = "Public Health Analyst"

,Job Title,Company Name,Salary,Job Category,city,State,Category
407,Public Health Analyst,Department of Health And Human Services,97078.0,Data Analyst,Atlanta,Georgia,Public Health Analyst
409,Public Health Analyst,Department of Health And Human Services,97078.0,Data Analyst,Atlanta,Georgia,Public Health Analyst
816,Public Health Analyst PD 15R591 / 15R592 - Mat...,Department of Health And Human Services,72750.0,Data Analyst,Rockville,Maryland,Public Health Analyst
817,Public Health Analyst PD 15R591 / 15R592 - Mat...,Department of Health And Human Services,72750.0,Data Analyst,Rockville,Maryland,Public Health Analyst
827,"Supervisory Public Health Analyst - Director, ...",Department of Health And Human Services,14412.0,Data Analyst,Rockville,Maryland,Public Health Analyst
...,...,...,...,...,...,...,...
10957,"Supervisory Public Health Analyst - Director, ...",Department of Health And Human Services,14412.0,IT Systems Analyst,Rockville,Maryland,Public Health Analyst
10961,Public Health Analyst PD 14R325 / 14R326 - Off...,Department of Health And Human Services,46083.0,IT Systems Analyst,No location provided,NaN,Public Health Analyst
10962,Public Health Analyst PD 14R325 / 14R326 - Off...,Department of Health And Human Services,46083.0,IT Systems Analyst,No location provided,NaN,Public Health Analyst
10963,Public Health Analyst PD 14R327 / 14R329 - Off...,Department of Health And Human Services,66829.0,IT Systems Analyst,No location provided,NaN,Public Health Analyst
10964,Public Health Analyst PD 14R327 / 14R329 - Off...,Department of Health And Human Services,66829.0,IT Systems Analyst,No location provided,NaN,Public Health Analyst

In [19]:
df['Procurement Analyst'] = (df["Job Title"].str.lower()
                            .str.contains("procurement analyst", regex=False, na=False)
                            .astype(int))


Procurement_Analyst_df= df.loc[df['Procurement Analyst'] == 1]

Procurement_Analyst_df["Category"] = "Procurement Analyst"
del Procurement_Analyst_df ['Data Analyst']
del Procurement_Analyst_df ["Computer Scientist"]
del Procurement_Analyst_df ["IT Specialist"]
del Procurement_Analyst_df ["Operations Research Analyst"]
del Procurement_Analyst_df ["Business Intelligence Specialist"]
del Procurement_Analyst_df ["Research Analyst"]
del Procurement_Analyst_df ["Data Engineer"]
del Procurement_Analyst_df["Chief Data Officer"]
del Procurement_Analyst_df["Enterprise Data Manager"] 
del Procurement_Analyst_df["Management and Program Analyst"]
del Procurement_Analyst_df["Public Health Analyst"]
del Procurement_Analyst_df["Procurement Analyst"]
Procurement_Analyst_df

<ipython-input-19-4be8625f17cb>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Procurement_Analyst_df["Category"] = "Procurement Analyst"

,Job Title,Company Name,Salary,Job Category,city,State,Category
392,Procurement Analyst,Department of the Army,92143.0,Data Analyst,Mobile,Alabama,Procurement Analyst
393,Procurement Analyst,Department of Defense,10369.0,Data Analyst,New Cumberland Defense Logistics Center,Pennsylvania,Procurement Analyst
394,Procurement Analyst,General Services Administration,10102.0,Data Analyst,Lakewood,Colorado,Procurement Analyst
395,PROCUREMENT ANALYST,Department of the Air Force,92143.0,Data Analyst,Hill AFB,Utah,Procurement Analyst
396,Procurement Analyst,Department of the Air Force,78624.0,Data Analyst,Scott AFB,Illinois,Procurement Analyst
...,...,...,...,...,...,...,...
10786,Procurement Analyst (Public Notice Flyer),Department of Homeland Security,10369.0,IT Systems Analyst,Washington,District of Columbia,Procurement Analyst
10890,Contract Specialist/Procurement Analyst - Dire...,Department of Transportation,82721.0,IT Systems Analyst,Cambridge,Massachusetts,Procurement Analyst
10891,Contract Specialist/Procurement Analyst (Direc...,Department of Transportation,64009.0,IT Systems Analyst,No location provided,NaN,Procurement Analyst
10892,Contract Specialist/Procurement Analyst (Direc...,Department of Transportation,10780.0,IT Systems Analyst,No location provided,NaN,Procurement Analyst
10952,"Contract Spec/Administrator/Negotiator, Procur...",General Services Administration,64649.0,IT Systems Analyst,No location provided,NaN,Procurement Analyst

In [20]:
df['Health Insurance Analyst'] = (df["Job Title"].str.lower()
                            .str.contains("health insurance analyst", regex=False, na=False)
                            .astype(int))


health_insurance_Analyst_df= df.loc[df['Health Insurance Analyst'] == 1]

health_insurance_Analyst_df["Category"] = "Health Insurance Analyst"
del health_insurance_Analyst_df ['Data Analyst']
del health_insurance_Analyst_df ["Computer Scientist"]
del health_insurance_Analyst_df ["IT Specialist"]
del health_insurance_Analyst_df ["Operations Research Analyst"]
del health_insurance_Analyst_df ["Business Intelligence Specialist"]
del health_insurance_Analyst_df ["Research Analyst"]
del health_insurance_Analyst_df ["Data Engineer"]
del health_insurance_Analyst_df["Chief Data Officer"]
del health_insurance_Analyst_df["Enterprise Data Manager"] 
del health_insurance_Analyst_df["Management and Program Analyst"]
del health_insurance_Analyst_df["Public Health Analyst"]
del health_insurance_Analyst_df["Procurement Analyst"]
del health_insurance_Analyst_df["Health Insurance Analyst"]
health_insurance_Analyst_df

Empty DataFrame
Columns: [Job Title, Company Name, Salary, Job Category, city, State, Category]
Index: []

In [21]:
df['Social Science Analyst'] = (df["Job Title"].str.lower()
                            .str.contains("social science analyst", regex=False, na=False)
                            .astype(int))


Social_Science_Analyst_df= df.loc[df['Social Science Analyst'] == 1]

Social_Science_Analyst_df["Category"] = "Social Science Analyst"
del Social_Science_Analyst_df ['Data Analyst']
del Social_Science_Analyst_df ["Computer Scientist"]
del Social_Science_Analyst_df ["IT Specialist"]
del Social_Science_Analyst_df ["Operations Research Analyst"]
del Social_Science_Analyst_df ["Business Intelligence Specialist"]
del Social_Science_Analyst_df ["Research Analyst"]
del Social_Science_Analyst_df ["Data Engineer"]
del Social_Science_Analyst_df["Chief Data Officer"]
del Social_Science_Analyst_df["Enterprise Data Manager"] 
del Social_Science_Analyst_df["Management and Program Analyst"]
del Social_Science_Analyst_df["Public Health Analyst"]
del Social_Science_Analyst_df["Procurement Analyst"]
del Social_Science_Analyst_df["Health Insurance Analyst"]
del Social_Science_Analyst_df["Social Science Analyst"]                                    
Social_Science_Analyst_df

Empty DataFrame
Columns: [Job Title, Company Name, Salary, Job Category, city, State, Category]
Index: []

In [22]:
df['Policy Advisor'] = (df["Job Title"].str.lower()
                            .str.contains("policy advisor", regex=False, na=False)
                            .astype(int))


Policy_advisor_df= df.loc[df['Policy Advisor'] == 1]

Policy_advisor_df["Category"] = "Policy Advisor"
del Policy_advisor_df ['Data Analyst']
del Policy_advisor_df ["Computer Scientist"]
del Policy_advisor_df ["IT Specialist"]
del Policy_advisor_df ["Operations Research Analyst"]
del Policy_advisor_df ["Business Intelligence Specialist"]
del Policy_advisor_df ["Research Analyst"]
del Policy_advisor_df ["Data Engineer"]
del Policy_advisor_df["Chief Data Officer"]
del Policy_advisor_df["Enterprise Data Manager"] 
del Policy_advisor_df["Management and Program Analyst"]
del Policy_advisor_df["Public Health Analyst"]
del Policy_advisor_df["Procurement Analyst"]
del Policy_advisor_df["Health Insurance Analyst"]
del Policy_advisor_df["Social Science Analyst"]
del Policy_advisor_df["Policy Advisor"]
Policy_advisor_df

Empty DataFrame
Columns: [Job Title, Company Name, Salary, Job Category, city, State, Category]
Index: []

In [23]:
df['Mathematical Analyst'] = (df["Job Title"].str.lower()
                            .str.contains("mathematical analyst", regex=False, na=False)
                            .astype(int))


Mathematical_Analyst_df= df.loc[df['Mathematical Analyst'] == 1]

Mathematical_Analyst_df["Category"] = "Mathematical Analyst"
del Mathematical_Analyst_df ['Data Analyst']
del Mathematical_Analyst_df ["Computer Scientist"]
del Mathematical_Analyst_df ["IT Specialist"]
del Mathematical_Analyst_df ["Operations Research Analyst"]
del Mathematical_Analyst_df ["Business Intelligence Specialist"]
del Mathematical_Analyst_df ["Research Analyst"]
del Mathematical_Analyst_df ["Data Engineer"]
del Mathematical_Analyst_df["Chief Data Officer"]
del Mathematical_Analyst_df["Enterprise Data Manager"] 
del Mathematical_Analyst_df["Management and Program Analyst"]
del Mathematical_Analyst_df["Public Health Analyst"]
del Mathematical_Analyst_df["Procurement Analyst"]
del Mathematical_Analyst_df["Health Insurance Analyst"]
del Mathematical_Analyst_df["Social Science Analyst"]
del Mathematical_Analyst_df["Policy Advisor"]
del Mathematical_Analyst_df["Mathematical Analyst"]
Mathematical_Analyst_df

Empty DataFrame
Columns: [Job Title, Company Name, Salary, Job Category, city, State, Category]
Index: []

In [24]:
df['Economic Research Analyst'] = (df["Job Title"].str.lower()
                            .str.contains("economic eesearch enalyst", regex=False, na=False)
                            .astype(int))

Economic_Research_Analyst_df= df.loc[df['Economic Research Analyst'] == 1]

Economic_Research_Analyst_df["Category"] = "Economic Research Analyst"
del Economic_Research_Analyst_df ['Data Analyst']
del Economic_Research_Analyst_df ["Computer Scientist"]
del Economic_Research_Analyst_df ["IT Specialist"]
del Economic_Research_Analyst_df ["Operations Research Analyst"]
del Economic_Research_Analyst_df ["Business Intelligence Specialist"]
del Economic_Research_Analyst_df ["Research Analyst"]
del Economic_Research_Analyst_df ["Data Engineer"]
del Economic_Research_Analyst_df["Chief Data Officer"]
del Economic_Research_Analyst_df["Enterprise Data Manager"] 
del Economic_Research_Analyst_df["Management and Program Analyst"]
del Economic_Research_Analyst_df["Public Health Analyst"]
del Economic_Research_Analyst_df["Procurement Analyst"]
del Economic_Research_Analyst_df["Health Insurance Analyst"]
del Economic_Research_Analyst_df["Social Science Analyst"]
del Economic_Research_Analyst_df["Policy Advisor"]
del Economic_Research_Analyst_df["Mathematical Analyst"]
del Economic_Research_Analyst_df["Economic Research Analyst"]
Economic_Research_Analyst_df

Empty DataFrame
Columns: [Job Title, Company Name, Salary, Job Category, city, State, Category]
Index: []

In [25]:
all_dfs = [Data_Analyst_df, Computer_Scientist_df, it_specialist_df, operations_research_analyst_df,
          Research_analyst_df, Management_program_Analyst_df, public_health_Analyst_df, Procurement_Analyst_df]
          

usa_gov_jobs_df = pd.concat(all_dfs).reset_index(drop=True)

In [26]:
usa_gov_jobs_df

,Job Title,Company Name,Salary,Job Category,city,State,Category
0,Data Analyst,Other Agencies and Independent Organizations,87198.0,Data Analyst,Washington,District of Columbia,Data Analyst
1,Health System Specialist (Data Analyst),Department of Veterans Affairs,59498.0,Data Analyst,West Roxbury,Massachusetts,Data Analyst
2,Supervisory Performance Improvement / Data Ana...,Department of Health And Human Services,92723.0,Data Analyst,Gallup,New Mexico,Data Analyst
3,Supervisory Performance Improvement / Data Ana...,Department of Health And Human Services,92723.0,Data Analyst,Gallup,New Mexico,Data Analyst
4,Data Analyst,Other Agencies and Independent Organizations,87198.0,Data Engineer,Washington,District of Columbia,Data Analyst
...,...,...,...,...,...,...,...
1890,Procurement Analyst (Public Notice Flyer),Department of Homeland Security,10369.0,IT Systems Analyst,Washington,District of Columbia,Procurement Analyst
1891,Contract Specialist/Procurement Analyst - Dire...,Department of Transportation,82721.0,IT Systems Analyst,Cambridge,Massachusetts,Procurement Analyst
1892,Contract Specialist/Procurement Analyst (Direc...,Department of Transportation,64009.0,IT Systems Analyst,No location provided,NaN,Procurement Analyst
1893,Contract Specialist/Procurement Analyst (Direc...,Department of Transportation,10780.0,IT Systems Analyst,No location provided,NaN,Procurement Analyst
1894,"Contract Spec/Administrator/Negotiator, Procur...",General Services Administration,64649.0,IT Systems Analyst,No location provided,NaN,Procurement Analyst

In [27]:
usa_gov_jobs_df["Category"].unique()

array(['Data Analyst', 'Computer Scientist', 'IT Specialist',
       'Operations Research Analyst', 'Research_Analyst',
       'Management program Analyst', 'Public Health Analyst',
       'Procurement Analyst'], dtype=object)

In [28]:
usa_gov_jobs_df.dropna(axis=1, how='all')

,Job Title,Company Name,Salary,Job Category,city,State,Category
0,Data Analyst,Other Agencies and Independent Organizations,87198.0,Data Analyst,Washington,District of Columbia,Data Analyst
1,Health System Specialist (Data Analyst),Department of Veterans Affairs,59498.0,Data Analyst,West Roxbury,Massachusetts,Data Analyst
2,Supervisory Performance Improvement / Data Ana...,Department of Health And Human Services,92723.0,Data Analyst,Gallup,New Mexico,Data Analyst
3,Supervisory Performance Improvement / Data Ana...,Department of Health And Human Services,92723.0,Data Analyst,Gallup,New Mexico,Data Analyst
4,Data Analyst,Other Agencies and Independent Organizations,87198.0,Data Engineer,Washington,District of Columbia,Data Analyst
...,...,...,...,...,...,...,...
1890,Procurement Analyst (Public Notice Flyer),Department of Homeland Security,10369.0,IT Systems Analyst,Washington,District of Columbia,Procurement Analyst
1891,Contract Specialist/Procurement Analyst - Dire...,Department of Transportation,82721.0,IT Systems Analyst,Cambridge,Massachusetts,Procurement Analyst
1892,Contract Specialist/Procurement Analyst (Direc...,Department of Transportation,64009.0,IT Systems Analyst,No location provided,NaN,Procurement Analyst
1893,Contract Specialist/Procurement Analyst (Direc...,Department of Transportation,10780.0,IT Systems Analyst,No location provided,NaN,Procurement Analyst
1894,"Contract Spec/Administrator/Negotiator, Procur...",General Services Administration,64649.0,IT Systems Analyst,No location provided,NaN,Procurement Analyst

In [29]:
del usa_gov_jobs_df["Job Category"]
usa_gov_jobs_df['Salary']=usa_gov_jobs_df['Salary'].apply(lambda x:round(x,2))

In [30]:
usa_gov_jobs_df["Category"].unique().tolist()

['Data Analyst',
 'Computer Scientist',
 'IT Specialist',
 'Operations Research Analyst',
 'Research_Analyst',
 'Management program Analyst',
 'Public Health Analyst',
 'Procurement Analyst']

In [31]:
usa_gov_jobs_df["Category"].value_counts()

Management program Analyst     632
IT Specialist                  442
Research_Analyst               290
Operations Research Analyst    249
Procurement Analyst            126
Public Health Analyst           63
Data Analyst                    52
Computer Scientist              41
Name: Category, dtype: int64

In [32]:
usa_gov_jobs_df.rename(columns={'Job Title':'Position Title'}, inplace=True)
usa_gov_jobs_df.rename(columns={'Category':'Job Title'}, inplace=True)
usa_gov_jobs_df.rename(columns={'State':'State Name'}, inplace=True)
usa_gov_jobs_df

,Position Title,Company Name,Salary,city,State Name,Job Title
0,Data Analyst,Other Agencies and Independent Organizations,87198.0,Washington,District of Columbia,Data Analyst
1,Health System Specialist (Data Analyst),Department of Veterans Affairs,59498.0,West Roxbury,Massachusetts,Data Analyst
2,Supervisory Performance Improvement / Data Ana...,Department of Health And Human Services,92723.0,Gallup,New Mexico,Data Analyst
3,Supervisory Performance Improvement / Data Ana...,Department of Health And Human Services,92723.0,Gallup,New Mexico,Data Analyst
4,Data Analyst,Other Agencies and Independent Organizations,87198.0,Washington,District of Columbia,Data Analyst
...,...,...,...,...,...,...
1890,Procurement Analyst (Public Notice Flyer),Department of Homeland Security,10369.0,Washington,District of Columbia,Procurement Analyst
1891,Contract Specialist/Procurement Analyst - Dire...,Department of Transportation,82721.0,Cambridge,Massachusetts,Procurement Analyst
1892,Contract Specialist/Procurement Analyst (Direc...,Department of Transportation,64009.0,No location provided,NaN,Procurement Analyst
1893,Contract Specialist/Procurement Analyst (Direc...,Department of Transportation,10780.0,No location provided,NaN,Procurement Analyst
1894,"Contract Spec/Administrator/Negotiator, Procur...",General Services Administration,64649.0,No location provided,NaN,Procurement Analyst

In [37]:
usa_gov_jobs_df["Salary"]= usa_gov_jobs_df["Salary"].astype('int')

In [38]:
usa_gov_jobs_df.to_csv("../Resources/cpj_usajobs_categorized.csv", index=False)