In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("mw_govjob_listings_scraped.csv")

In [3]:
df

,Job Title,Company Name,Company Location,Salary,Description,Link,Job Category
0,Data Analyst,Other Agencies and Independent Organizations,"Washington, District of Columbia","Starting at $87,198 (GS 12)",Help\r\n \n...,https://www.usajobs.gov/GetJob/ViewDetails/622...,Data Analyst
1,IT Specialist (DATAMGT) (Data and Reporting An...,Department of the Treasury,No location provided,"Starting at $92,143 (GS 13)",Help\r\n \n...,https://www.usajobs.gov/GetJob/ViewDetails/621...,Data Analyst
2,Program Analyst (Data Science),Department of Veterans Affairs,No location provided,"Starting at $66,829 (GS 12)",Help\r\n \n...,https://www.usajobs.gov/GetJob/ViewDetails/620...,Data Analyst
3,Health System Specialist (Data Analyst),Department of Veterans Affairs,"West Roxbury, Massachusetts","Starting at $59,498 (GS 9-11)",Help\r\n \n...,https://www.usajobs.gov/GetJob/ViewDetails/622...,Data Analyst
4,Interdisciplinary (Data Research Analyst),Other Agencies and Independent Organizations,"Alexandria, Virginia","Starting at $103,690 (AD 03)",Help\r\n \n...,https://www.usajobs.gov/GetJob/ViewDetails/623...,Data Analyst
...,...,...,...,...,...,...,...
11282,Research Economist Research Mathematicia...,Department of the Treasury,"Washington, District of Columbia","Starting at $158,184 (OR 70)",Help\r\n \n...,https://www.usajobs.gov/GetJob/ViewDetails/619...,Statistician
11283,Physical Scientist/Biologist/Mathematical Stat...,Department of the Interior,No location provided,"Starting at $53,433 (GS 9)",Help\r\n \n...,https://www.usajobs.gov/GetJob/ViewDetails/621...,Statistician
11284,Physical Scientist/Biologist/Mathematical Stat...,Department of the Interior,No location provided,"Starting at $77,488 (GS 12)",Help\r\n \n...,https://www.usajobs.gov/GetJob/ViewDetails/621...,Statistician
11285,Health Statistician - PD21E022 - Center for Qu...,Department of Health And Human Services,"Rockville, Maryland","Starting at $103,690 (GS 13)",Help\r\n \n...,https://www.usajobs.gov/GetJob/ViewDetails/620...,Statistician
11286,"Mathematical Statistician (Education), GS-1529...",Department of Education,"Washington, District of Columbia","Starting at $144,128 (GS 15)",Help\r\n \n...,https://www.usajobs.gov/GetJob/ViewDetails/621...,Statistician

In [4]:
df = df.drop('Description', axis=1)
df = df.drop('Link', axis=1)

In [5]:
df.drop(df.loc[df['Salary']==''].index, inplace=True)

In [6]:
df['Salary'] = df['Salary'].str.replace('Starting at','')

In [8]:
df['Salary'] =df['Salary'] .str[:8]

In [10]:
df['Salary'] = df['Salary'].str.replace('$','')
df['Salary'] = df['Salary'].str.replace('NF','')
df['Salary'] = df['Salary'].str.replace('(','')
df['Salary'] = df['Salary'].str.replace(',','')
df['Salary'] = df['Salary'].str.replace('0 GS','')
df['Salary'] = df['Salary'].str.replace('0 HS','')

In [12]:
df.dtypes

Job Title           object
Company Name        object
Company Location    object
Salary              object
Job Category        object
dtype: object

In [13]:
df['Salary'] = df['Salary'].replace(np.nan, 0)

In [15]:
df['Salary'] = df['Salary'].str.strip()

In [16]:
df['Salary'] = df['Salary'].fillna('')

In [17]:
df['Salary'] = df['Salary'].str.strip()

In [18]:
# df["Salary"] = df['Salary'].str.replace(' ', '').astype(float)

In [19]:
df['Salary'] = pd.to_numeric(df['Salary'], downcast='float')

In [20]:
df['Salary'] = df['Salary'].apply(lambda x: x*2000 if x<100 else x)

In [21]:
df

,Job Title,Company Name,Company Location,Salary,Job Category
0,Data Analyst,Other Agencies and Independent Organizations,"Washington, District of Columbia",87198.0,Data Analyst
1,IT Specialist (DATAMGT) (Data and Reporting An...,Department of the Treasury,No location provided,92143.0,Data Analyst
2,Program Analyst (Data Science),Department of Veterans Affairs,No location provided,66829.0,Data Analyst
3,Health System Specialist (Data Analyst),Department of Veterans Affairs,"West Roxbury, Massachusetts",59498.0,Data Analyst
4,Interdisciplinary (Data Research Analyst),Other Agencies and Independent Organizations,"Alexandria, Virginia",10369.0,Data Analyst
...,...,...,...,...,...
11282,Research Economist Research Mathematicia...,Department of the Treasury,"Washington, District of Columbia",15818.0,Statistician
11283,Physical Scientist/Biologist/Mathematical Stat...,Department of the Interior,No location provided,53433.0,Statistician
11284,Physical Scientist/Biologist/Mathematical Stat...,Department of the Interior,No location provided,77488.0,Statistician
11285,Health Statistician - PD21E022 - Center for Qu...,Department of Health And Human Services,"Rockville, Maryland",10369.0,Statistician
11286,"Mathematical Statistician (Education), GS-1529...",Department of Education,"Washington, District of Columbia",14412.0,Statistician

In [24]:
df_company_location = df.join(df['Company Location'].str.split(',', 1, expand=True).rename(columns={0:'city', 1:'State'}))

In [25]:
df_company_location

,Job Title,Company Name,Company Location,Salary,Job Category,city,State
0,Data Analyst,Other Agencies and Independent Organizations,"Washington, District of Columbia",87198.0,Data Analyst,Washington,District of Columbia
1,IT Specialist (DATAMGT) (Data and Reporting An...,Department of the Treasury,No location provided,92143.0,Data Analyst,No location provided,None
2,Program Analyst (Data Science),Department of Veterans Affairs,No location provided,66829.0,Data Analyst,No location provided,None
3,Health System Specialist (Data Analyst),Department of Veterans Affairs,"West Roxbury, Massachusetts",59498.0,Data Analyst,West Roxbury,Massachusetts
4,Interdisciplinary (Data Research Analyst),Other Agencies and Independent Organizations,"Alexandria, Virginia",10369.0,Data Analyst,Alexandria,Virginia
...,...,...,...,...,...,...,...
11282,Research Economist Research Mathematicia...,Department of the Treasury,"Washington, District of Columbia",15818.0,Statistician,Washington,District of Columbia
11283,Physical Scientist/Biologist/Mathematical Stat...,Department of the Interior,No location provided,53433.0,Statistician,No location provided,None
11284,Physical Scientist/Biologist/Mathematical Stat...,Department of the Interior,No location provided,77488.0,Statistician,No location provided,None
11285,Health Statistician - PD21E022 - Center for Qu...,Department of Health And Human Services,"Rockville, Maryland",10369.0,Statistician,Rockville,Maryland
11286,"Mathematical Statistician (Education), GS-1529...",Department of Education,"Washington, District of Columbia",14412.0,Statistician,Washington,District of Columbia

In [ ]:
df_company_location.drop(df_company_location.loc[df_company_location['State']=='Philippines'].index, inplace=True)
df_company_location= df_company_location.drop(df_company_location.loc[df_company_location['State']==' Saudi Arabia'].index, inplace=True)
df_company_location.drop(df_company_location.loc[df_company_location['State']=='Qatar'].index, inplace=False)
df_company_location.drop(df_company_location.loc[df_company_location['State']=='Greece'].index, inplace=True)
df_company_location=df_company_location.drop(df_company_location.loc[df_company_location['State']==' Greece'].index, inplace=True)
df_company_location.drop(df_company_location.loc[df_company_location['State']==' Bahrain'].index, inplace=True)
df_company_location.drop(df_company_location.loc[df_company_location['State']==' Camp Zama, Japan'].index, inplace=True)
df_company_location.drop(df_company_location.loc[df_company_location['State']==' Netherlands'].index, inplace=True)
df_company_location.drop(df_company_location.loc[df_company_location['State']==' Philippines'].index, inplace=True)
df_company_location.drop(df_company_location.loc[df_company_location['State']==' Jordan'].index, inplace=True)
df_company_location.drop(df_company_location.loc[df_company_location['State']==' Bosnia and Herzegovina'].index, inplace=True)
df_company_location.drop(df_company_location.loc[df_company_location['State']==' Nigeria'].index, inplace=True)
df_company_location.drop(df_company_location.loc[df_company_location['State']==' Italy'].index, inplace=True)
df_company_location.drop(df_company_location.loc[df_company_location['State']==' Belgium'].index, inplace=True)
df_company_location.drop(df_company_location.loc[df_company_location['State']==' Japan'].index, inplace=True)
df_company_location.drop(df_company_location.loc[df_company_location['State']==' Kuwait'].index, inplace=True)
df_company_location.drop(df_company_location.loc[df_company_location['State']==' Vietnam'].index, inplace=True)
df_company_location.drop(df_company_location.loc[df_company_location['State']==' Germany'].index, inplace=True)
df_company_location.drop(df_company_location.loc[df_company_location['State']==' Austria'].index, inplace=True)
df_company_location.drop(df_company_location.loc[df_company_location['State']==' Cuba'].index, inplace=True)
df_company_location.drop(df_company_location.loc[df_company_location['State']==' Spain'].index, inplace=True)
df_company_location.drop(df_company_location.loc[df_company_location['State']==''].index, inplace=True)
df_company_location['State'] = df_company_location['State'].str.replace('Oahu, ','')
df_company_location['State'] = df_company_location['State'].str.replace('Mechanicsburg, ','')
df_company_location['State'] = df_company_location['State'].str.replace('Philadelphia, ','')
df_company_location['State'] = df_company_location['State'].str.replace('Atlantic, ','')
df_company_location['State'] = df_company_location['State'].str.replace('Charleston, ','')
df_company_location['State'] = df_company_location['State'].str.replace('San Diego, ','')
df_company_location['State'] = df_company_location['State'].str.replace('Mechanicsburg Detach., ','')
df_company_location['State'] = df_company_location['State'].str.replace('Mechanicsburg Detach., ','')
df_company_location['State'] = df_company_location['State'].str.replace('Portsmouth, ','')
df_company_location['State'] = df_company_location['State'].str.replace('Portsmouth, ','')
df_company_location['State'] = df_company_location['State'].str.replace('Norfolk, Virginia','')
df_company_location['State'] = df_company_location['State'].str.replace('Arlington, ','')
df_company_location['State'] = df_company_location['State'].str.replace("''",'')
df_company_location["State"] =df_company_location["State"].str.strip()

In [ ]:
df_company_location['State'].unique().tolist()

In [ ]:
df_company_location['State'].nunique()

In [ ]:
df_company_location

In [ ]:
df_company_location = df_company_location.drop('Company Location', axis=1)

#### Second part of the the code gives 'NoneType' object has no attribute 'drop' error,  so have deleted most of the above  countries in the states column which are outside unites states manually from the csv file

In [ ]:
# df_company_location.to_csv("cpj_govjobs_cleaned.csv", index=False)