In [28]:

import pandas as pd
import matplotlib.pyplot as plt
import os
import numpy as py
import time
from datetime import datetime

In [29]:
gov_file = "category_perDepartment.csv"

gov_df = pd.read_csv(gov_file)

gov_df.head()

                                   Company Name  Job Category
0  Other Agencies and Independent Organizations  Data Analyst
1                    Department of the Treasury  Data Analyst
2                Department of Veterans Affairs  Data Analyst
3                Department of Veterans Affairs  Data Analyst
4  Other Agencies and Independent Organizations  Data Analyst

In [14]:
#gov_df.to_csv('category_vs_dep.csv')

In [31]:
gov_df2 = gov_df.groupby(['Company Name','Job Category']).max().reset_index()

In [32]:
gov_df2

,Company Name,Job Category
0,Court Services and Offender Supervision Agency...,Business Intelligence Analyst
1,Court Services and Offender Supervision Agency...,Business Systems Analyst
2,Court Services and Offender Supervision Agency...,Data Analyst
3,Court Services and Offender Supervision Agency...,IT Systems Analyst
4,Court Services and Offender Supervision Agency...,Logistics Analyst
...,...,...
344,Other Agencies and Independent Organizations,Logistics Analyst
345,Other Agencies and Independent Organizations,Machine Learning Engineer
346,Other Agencies and Independent Organizations,Marketing Analyst
347,Other Agencies and Independent Organizations,Quantitative Analyst
348,Other Agencies and Independent Organizations,Statistician