In [1]:

import pandas as pd
from pyspark.sql.functions import col
from pyspark.sql.types import StringType,BooleanType,DateType

In [2]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("GamingCloudETL").config("spark.driver.extraClassPath","/content/postgresql-42.2.9.jar").getOrCreate()

In [15]:
from pyspark import SparkFiles
url ="https://mw-project-4.s3.us-west-1.amazonaws.com/mw_job_listings_scraped.csv"
spark.sparkContext.addFile(url)
df = spark.read.csv(SparkFiles.get("mw_job_listings_scraped.csv"), sep=",", header=True,inferSchema=True)

df.show(5)

+--------------------+--------------------+-----------------+------+--------------------+--------------------+
|           Job Title|        Company Name|         Location|Salary|         Description|                link|
+--------------------+--------------------+-----------------+------+--------------------+--------------------+
|Senior Business A...|         Berks Homes|Mohnton, PA 19540|  null|Senior Business A...|https://www.indee...|
|ISS-P Data Center...|Consolidated Nucl...|     Amarillo, TX|  null|Location: Amarill...|                null|
|Job Title: ISS-P ...|                null|             null|  null|                null|                null|
|Career Level From...|                null|             null|  null|                null|                null|
|Career Level To: ...|                null|             null|  null|                null|                null|
+--------------------+--------------------+-----------------+------+--------------------+--------------------+
only showing top 5 rows

In [16]:
df.printSchema()

root
 |-- Job Title: string (nullable = true)
 |-- Company Name: string (nullable = true)
 |-- Location: string (nullable = true)
 |-- Salary: string (nullable = true)
 |-- Description: string (nullable = true)
 |-- link: string (nullable = true)

# Total Job Opening count based on Job title

In [51]:
df_jobcount=df.groupby('Salary').count().sort('count', ascending=False).show(n=20, truncate=True)

+--------------------+------+
|              Salary| count|
+--------------------+------+
|                null|360876|
|                 sex|  1624|
|            religion|  1273|
|     gender identity|   723|
|               color|   713|
|     national origin|   677|
|                etc.|   447|
|          Statistics|   423|
|000 employees in ...|   368|
|               etc.)|   349|
|          technology|   336|
|              gender|   301|
| family or medica...|   293|
| and more. Learn ...|   261|
| in addition to a...|   236|
|                 age|   228|
| and helps bring ...|   213|
|                Java|   204|
|         Engineering|   201|
|    Computer Science|   189|
+--------------------+------+
only showing top 20 rows

In [ ]:
job_count=df1.groupby('Job_Title').count()
job_count.orderBy(col('count').asc()).select("Job_Title","count").show()

In [ ]:
df_jobcount.printSchema()

In [ ]:
df1.plot(kind="bar")