In [13]:
import pandas as pd

In [14]:
indeed_df = pd.read_csv('../resources/mw_job_listings_scraped.csv')
indeed_df['Type'] = 'Non-Government'
gov_df = pd.read_csv('../resources/mw_govjob_listings_scraped.csv')
gov_df['Type'] = 'Government'

In [15]:
indeed_df.head(1)

,Job Title,Company Name,Location,Salary,Description,link,Category,Skills,Tools,Type
0,Senior Business Analyst - Land,Berks Homes,"Mohnton, PA 19540",NaN,Senior Business Analyst - Land Berks Homes is ...,https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,Data Analyst,,"R, Scala",Non-Government

In [16]:
gov_df.head(1)

,Job Title,Company Name,Company Location,Salary,Description,Link,Job Category,Skills,Tools,Type
0,Data Analyst,Other Agencies and Independent Organizations,"Washington, District of Columbia","Starting at $87,198 (GS 12)",Help\r\n \n...,https://www.usajobs.gov/GetJob/ViewDetails/622...,Data Analyst,"Data Visualization, Data Analysis","SQL, R, Tableau",Government

In [17]:
indeed_df = indeed_df.rename(columns={'link':'Link'})

In [18]:
gov_df = gov_df.rename(columns={'Company Location':'Location', 'Job Category':'Category'})

In [19]:
column_names = ["Job Title", "Company Name", "Location","Salary","Description", "Link", "Category","Skills", "Tools", "Type"]
merged_jobs_df = pd.DataFrame(columns = column_names)
merged_jobs_df = pd.concat([indeed_df, gov_df], ignore_index=True)

In [22]:
merged_jobs_df = merged_jobs_df.rename(columns={'Job Title': 'Posted Title', 'Category':'Job Title'})

In [24]:
del merged_jobs_df['Location']
del merged_jobs_df['Salary']
del merged_jobs_df['Description']
del merged_jobs_df['Link']

In [26]:
merged_jobs_df.head()

,Posted Title,Company Name,Job Title,Skills,Tools,Type
0,Senior Business Analyst - Land,Berks Homes,Data Analyst,,"R, Scala",Non-Government
1,ISS-P Data Center Analyst,Consolidated Nuclear Security,Data Analyst,,R,Non-Government
2,Junior Data Analyst,Strategic Marketing Services,Data Analyst,Data Analysis,"SQL, R, Excel",Non-Government
3,Data Analyst (Louisiana),Tetra Tech Inc.,Data Analyst,Data Analysis,"R, Excel",Non-Government
4,Marketing Data Analyst,Mercedes Scientific,Data Analyst,,R,Non-Government

In [29]:
merged_jobs_df.to_csv('../resources/mw_skills_tools.csv')